---
factor: dempingdbc
articletitle: dB(c) wordt door de atmosfeer evenveel gedempt als dB(a).
---

{{> articlehead this}}

<div class="row">
    <div class="col-sm-5 tl-main">
        <h3>Bastonen dragen ver</h3>
        <p>Bastonen dragen verder dan de rest van het geluid. Onweer veraf is gerommel. Hoe minder afstand, hoe scheller de onweersklap. Olifanten gebruiken dit natuurkundig verschijnsel, en communiceren met elkaar in infrasoon geluid. Zij doen dat over kilometers afstand. <a href="http://www.birds.cornell.edu/brp/elephant/cyclotis/language/infrasound.html" target="_blank">infrasonic elephant calls</a></p>
        <p>De demping van een geluidsgolf hangt af van de frequentie. Hoe lager de toon, hoe langer de golf, hoe minder de demping. Dat geldt voor demping door de atmosfeer zoals in deze grafiek, maar dit gaat ook op voor de gevels rond een evenementen-terrein.

        </p>
    </div>
    <div class="col-sm-7 tl-main">

        <a class="image-popup-vertical-fit" href="./img/SoundAbsorptionCoefficient.png" title="De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping.">
            <img src="./img/SoundAbsorptionCoefficient.png" width="80%" height="auto">
        </a>
        <legend>De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping. <a href="https://en.wikibooks.org/wiki/Engineering_Acoustics/Outdoor_Sound_Propagation#Attenuation_by_atmospheric_absorption.5B5.5D_.5B6.5D_.5B7.5D" target="_blank">bron</a></legend>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 tl-main">
        <p>Waar de nota EMELK een verval suggereert van 6 dB(a) per verdubbeling van de afstand (plus wat extra voor demping door de grond), is er geen makkelijke factor voor dB(c) te geven. Dat is de reden waarom veel onderzoeksbureaus zich er niet aan wagen. Natuurkundig feit is dat de bastonen langer hun energie behouden dan de hogere tonen. Hoe verder van het podium, hoe meer basgeluid er in verhouding in het totale volume zit. Hoewel de maatregel bij FOH (beperking van maximaal 15dB verschil tussen C en A meting) goed is uit te voeren en te handhaven, is het effect hiervan op de gevels volkomen onvoorspelbaar. Het geeft de handhaver een vals gevoel van controle.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 tl-main tl-img">
        <a class="image-popup-vertical-fit" href="./img/vervalgunstig.png" title="Hypothetisch voorbeeld met podiumnorm 95dB(a), 110 dB(c), en gevelnorm van 70 dB(a), waarbij het verval in dB(c) rond de 5 dB per afstandsverdubbeling ligt.">
            <img src="./img/vervalgunstig.png" width="100%" height="auto">
        </a>
        <legend>Hypothetisch voorbeeld met podiumnorm 95dB(a), 110 dB(c), en gevelnorm van 70 dB(a), waarbij het verval in dB(c) rond de 5 dB per afstandsverdubbeling ligt.</legend>
    </div>
    <div class="col-sm-6 tl-main">
        <p>Als de dichstbijzijnde gevel op 230 meter ligt, wordt aan de dB(a) norm voldaan. Echter alle woningen in een straal van (in dit voorbeeld) 400 meter staan bloot aan onredelijke dB(c) niveaus.</p>
        <p>De bastonen dragen verder, en veroorzaken zelfs op verder gelegen gevels aanzienlijk hogere dB(c) waardes dan de gevelnorm plus +15dB.</p>

        <p>Deze grafiek is een hypothetisch voorbeeld met een ongefundeerde dB(c) gevelnorm (dB(a) + 15dB). Er moet worden onderzocht wat een reële dB(c) gevelnorm kan zijn. Hoe een werkelijke grafiek eruit zal zien is niet te voorspellen zonder grondig onderzoek. Het kan meevallen of tegenvallen. Nooit zal de dB(c) lijn gelijk opgaan met de dB(a) lijn en dus is er altijd een onbekend surplus aan bastonen op de omliggende gevels. Het nadeel van deze onbekende factor ligt vooralsnog altijd bij de omwonenden.</p>

    </div>
</div>


<div class="row">
    <div class="col-sm-12 tl-main">
        <p>De vooronderstelling, dat beperking in het verschil tussen dB(c) en dB(a) bij FOH de basverhouding aan de gevel reguleert, is fout. Zelfs als het waarnemingsverschil 15dB zou zijn hoort dit verschil aan de gevel en niet FOH. Bij het podium mag <strong>nooit</strong> uitgegaan worden van 15dB verschil tussen C- en A-meting ter regulering van de overlast. </p>

    </div>
</div>


<div class="row">
    <div class="col-sm-8 tl-main">
        <h3>Demping door gevel</h3>

        <p>Als laatste moet worden opgemerkt dat bij de vaststelling van de gemiddelde demping van gevels, is uitgegaan van een gemiddeld geluidsspectrum. De kortere golflengtes worden door het harde materiaal meer gereflecteerd dan de langere golflengtes. Hoe lager de toon, hoe minder de demping. Binnendringend geluid zal een andere basverhouding hebben, en geluid met <strong>excessieve bas</strong> zal binnenshuis harder klinken. Het is belangrijk om conservatief om te gaan met dB(c) normering. <br>
        (Bronnen: <a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank">RIVM</a> en <a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank">Nederlandse Stichting Geluidshinder, bijlage A2 sub 2</a>)

         </p>


	</div>
    <div class="col-sm-4 tl-main">
        <img  tabindex="0" height="auto" src="./img/reflection.jpg"></img><br>
        <legend>Ramen en muren laten verhoudingsgewijs meer bastonen door.</legend>
    </div>
</div>


{{> articlefooter this}}

