---
factor: spraakverstaanbaarheid
articletitle: Spraakverstaanbaarheid binnenshuis is de enige overlastmaat.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Auditief uithoudingsvermogen</h3>
        <p>Het auditief uithoudingsvermogen van een gemiddelde bewoner wordt nergens meegenomen in vergunningverlening. in 1996 duurde een festival een paar uur. Bij hedendaagse festivals is 12 uur ononderbroken muziek per dag geen uitzondering. Wat voor sommige mensen na 4 uur nog als enigszins duldbaar ervaren wordt, is een paar uur later aanzienlijk minder duldbaar. Gemeenten beseffen niet wat zij vragen van de omwonenden.</p>

        <h3 class="tl-quote">"De kopjes rammelen in de kastjes"</h3>
        <p>Dit is de meest gebagatelliseerde uitspraak in discussies over overlast door lage tonen. Omdat de gevelnorm in dB(a) wordt gesteld, is de juridische discussie over overlast ook beperkt tot dB(a). Wanneer echter de basverhouding schever en schever komt te liggen, worden de seismologische argumenten steeds belangrijker.  <br>

        Wanneer een deur trilt in de sponning, en de ruitjes op de eigen (hogere) frequentie mee gaan trillen, versterkt dat het decibelniveau binnenshuis. Dit verschijnsel wordt door het "Rijksinstituut voor Volksgezondheid en Milieu" aangeduid als 'opslingeren'. (<a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank">bron RIVM</a>)</p>

        <p>Daarnaast worden de laagste bastonen niet alleen als geluid, maar als <strong>trilling</strong> ervaren. De bank waar men op zit, het bed waar men in slaapt... <br>
        De NSG beschrijft in haar richtlijn: 
        <blockquote>
        Psycho-fysiologische aspecten, Laagfrequent geluid kan worden waargenomen door:
        <ul>
            <li>het gehoor</li>
            <li>een gevoel van druk, onder meer in de gehoorgang en op het hoofd;</li>
            <li>trillingen in buik, borst, armen en benen.</li>
        </ul>   
        </blockquote>
        Wanneer we een stapel kopjes op tafel neerzetten, lukt het met onze stereo-installatie thuis niet om deze aan het rammelen te krijgen. Hoewel de 'spraakverstaanbaarheidnorm' van 50 dB(a) makkelijk wordt overschreden, de thuis-installatie heeft niet genoeg baskracht. Om de stapel kopjes daadwerkelijk aan het rinkelen te krijgen moet hard op de tafel getrommeld worden. Hoewel de klacht van rammelende kopjes vaak wordt afgedaan als cliché, is het een indicator van werkelijke hinder. Deze overlast is moeilijker te negeren, het is overdag een ernstige aantasting van het leefklimaat, en slaapverstorend. 

        (bron: <a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank">Nederlandse Stichting Geluidshinder</a>)

        </p>

        <p>Een binnennorm opleggen aan een festival is niet uitvoerbaar. Maar een geluidsbeleid opstellen zuiver op verwachte dB(a) waardes aan de gevel gaat voorbij aan belangrijke aspekten van overlast.</p>

	</div>
</div>


{{> articlefooter this}}

