---
factor: langtijdgemiddelde
articletitle: Verstopt gevaar van uitmiddelen.
returnhash: factoren
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
    	<h4>Muziek is emotie</h4>
		<p>Muziek heeft tot doel het publiek mee te voeren. Een DJ op een festival anno 2018 heeft andere middelen tot zijn beschikking dan een klassiek componist. Waar klassiek het moet hebben van harmonieën en tempowisselingen, en popmuziek daarnaast ook van teksten, heeft de moderne DJ voornamelijk variaties in de stemming of klankkleur van muziek tot zijn beschikking. Het tempo ligt ongeveer vast, afhankelijk van het soort festival. De hoeveelheid bas in de mix is een belangrijke bepaler van de kleur van moderne festival-muziek. Grote variaties, van iel en opbouwend tot climax, kunnen zomaar 1 of tweemaal in de 5 minuten plaatsvinden. Minder bas betekent niet automatisch minder dB(A), dat hangt af van hoe de compositie verder is opgebouwd. Laagste octaafbanden dragen relatief weinig bij aan het totale gemiddelde.</p>

		<p>Dus, als er drie minuten een lichte basverhouding in een bepaald muziekstuk zit, en vervolgens twee minuten een excessief zware basverhouding, dan blijft de dB(A) gevelnorm gerespecteerd. Dat komt omdat er over langere tijd een gemiddelde wordt genomen, vaak over 5 minuten. De piekwaardes in dB(C) kunnen echter aanzienlijk hoger liggen.</p>


        <audio controls="controls" src="./media/sampletranceunfiltered.mp3">je browser heeft geen audio ondersteuning</audio><span>&nbsp;Een voorbeeld van wisselende basverhouding</span><br>

        <audio controls="controls" src="./media/sampletrancefiltered.mp3">je browser heeft geen audio ondersteuning</audio><span></span>&nbsp;Zelfde voorbeeld zoals waargenomen op grotere afstand, hogere tonen worden meer gedempt</span><br><br>

        <a class="image-popup-vertical-fit" href="./img/SoudSamples.png" title="Visueel verschil, grotere pieken en dalen.">
            <img tabindex="0" width="80%" height="auto"  src="./img/SoudSamples.png"></img>
        </a>
        <legend>Visueel verschil, grotere pieken en dalen</legend>


	</div>
</div>

<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Soms helpt het een situatie uit te vergroten om te zien waar de fout zit;<br>
        Men kan in principe met 1 kanonschot per minuut midden in een woonwijk ruim binnen de spraakverstaanbaarheidsnorm blijven. Omwonenden kunnen geen bezwaar maken omdat de geluidsnorm niet wordt overschreden, maar de leefbaarheid is volkomen verstoord. 
        </p>
        <p>
		Variaties specifiek in de basverhouding bepalen het karakter van de hedendaagse festivalmuziek, veel meer dan variaties in het totale volume. Om deze reden is een norm in dB(A) zeker geen bescherming tegen overlast door baspieken. Zelfs een dB(C) norm die wordt uitgemiddeld over 5 minuten biedt geen bescherming tegen piekbelasting. <br>
		Beter is het om maximaal per 3 minuten uit te middelen.</p>

	</div>
</div>


{{> articlefooter this}}

