---
factor: langtijdgemiddelde
articletitle: Langtijdsgemiddelde norm dB(c) werkt even goed als langtijdsgemiddelde dB(a).
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
    	<h4>Muziek is emotie</h4>
		<p>Een musicus wil zijn publiek meevoeren. Een DJ op een festival anno 2016 heeft andere middelen tot zijn beschikking dan een klassiek componist. Waar klassiek het moet hebben van harmonieen en tempowisselingen, en popmuziek van teksten, heeft de moderne DJ voornamelijk variaties in de mood van muziek tot zijn beschikking. Het tempo ligt ongeveer vast, afhankelijk van het soort festival. De hoeveelheid bas in de mix is een belangrijke bepaler van de kleur van muziek. Grote variaties, van iel en opbouwend tot climax, kunnen zomaar 1 of tweemaal in de 5 minuten plaatsvinden. Minder bas betekent niet automatisch minder dB(a), dat hangt af van hoe de compositie verder is opgebouwd, en laagste octaafbanden dragen relatief weinig bij aan het totale gemiddelde.</p>

		<p>Dus, als er drie minuten een lichte basverhouding in een bepaald muziekstuk zit, en vervolgens twee minuten een excessief zware basverhouding, dan blijft de dB(a) gevelnorm gerespecteed. Dat komt omdat er over langere tijd een gemiddelde wordt genomen, vaak over 5 minuten. De piekwaardes in dB(c) kunnen echter aanzienlijk hoger liggen.</p>


        <audio controls="controls" src="./media/sampletranceunfiltered.mp3">je browser heeft geen audio ondersteuning</audio><span>&nbsp;Een voorbeeld van wisselende basverhouding</span><br>

        <audio controls="controls" src="./media/sampletrancefiltered.mp3">je browser heeft geen audio ondersteuning</audio><span></span>&nbsp;Zelfde voorbeeld, maar zoals waargenomen op grotere afstand, hogere tonen worden meer gedempt</span><br><br>

        <a class="image-popup-vertical-fit" href="./img/SoudSamples.png" title="Visueel verschil, grotere pieken en dalen.">
            <img tabindex="0" width="80%" height="auto"  src="./img/SoudSamples.png"></img>
        </a>
        <legend>Visueel verschil, grotere pieken en dalen</legend>


	</div>
</div>

<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Men kan in principe met 1 kanonsschot per minuut midden in een woonwijk, 12 uur lang, nog ruim binnen de spraakverstaanbaarheidsnorm blijven. Omwonenden kunnen op geluidsnorm-overschrijding geen bezwaar maken, maar de leefbaarheid is volkomen verstoord. Hier klopt iets niet.<br>
		Variaties specifiek in de basverhouding bepalen het karakter van de hedendaagse festivalmuziek, veel meer dan variaties in het totale volume. Hierom is een langtijdsgemiddelde in dB(a) zeker geen bescherming tegen dB(c) belasting, en is zelfs een langtijdsgemiddelde dB(c) geen bescherming tegen piekbelasting. <br>
		Dit geld voor de vaak gebruikte podiumnorm in dB(c), maar ook voor een eventuele gevelnorm in dB(c).
		</p>

	</div>
</div>


{{> articlefooter this}}

