---
factor: waarnemingsverschil15db
articletitle: Waarnemingsverschil tussen dB(c) en dB(a) is 15 dB.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-4 tl-main">
    	<p>In de laatste 20 jaar sinds de nota EMELK, is de muziek geëvolueerd. De wens van het publiek is niet direct het volume, alswel een fysieke geluidsdruk. <br>
    	De techniek is ook geëvolueerd: line-arrays en j-subs waarmee geluid meer gericht kan worden op het publiek kan worden. De Inzet van de nieuwe technieken leidt niet automatisch tot minder geluidshinder voor omwonenden. Als het geluid harder kan, en het publiek wenst het harder, dan zal de festivalorganisatie alle ruimte in de normering gebruiken om de bezoeker waar voor zijn geld te geven.
    	</p>
	</div>
    <div class="col-sm-8 tl-main">
        <a class="image-popup-vertical-fit" href="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png" title="Geluidssterktes in publiek.">
            <img width="100%" height="auto"  src="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png"></img>
        </a>
        <legend>Geluidssterktes in publiek. Bron: Event Acoustics via (<a href="http://www.nsg.nl/file/226/" target="_blank">NSG</a>)</legend>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 tl-main">
        <a class="image-popup-vertical-fit" href="./img/dbc-verhoudingen.png" title="Verhoudingen van Basgeluid kan varieren.">
            <img width="100%" height="auto"  src="./img/dbc-verhoudingen.png"></img>
        </a>

        <legend>Verhoudingen van Basgeluid kan varieren (<a href="./docs/dBa-vs-dBc.xlsx" target="_blank">voorbeeld excel berekening</a>).</legend>
    </div>
    <div class="col-sm-6 tl-main">
    	<p>Festivalvergunningen bevatten vaak een voorschrift (quote) <i>"ter regulering van de bastonen"</i>. De inperking behelst vrijwel altijd een beperking van verschil tussen dB(c) en dB(a). Het <a href="./docs/BeleidsregelsGeluidEvenementenOpenluchtNijmegen.pdf" target="_blank">geluidsbeleid</a> van Nijmegen uit 2008 noemt een maximum van 13 dB. Nijmegen is een van de koplopers op <stromg>basbewust geluidsbeleid</stromg>. Tegenwoordig zien we vaker 15 dB als maximum toegelaten verschil en de festivals zien liever 17 of meer. Maar 15 dB lijkt de algemeen aanvaarde waarde, en het rekent makkelijk. Er is echter geen wetenschappelijke basis voor. De ene gemeente beschrijft dat er 'proefondervindelijk is vastgesteld', maar onder welke condities of met welk soort muziek wordt niet uitgelegd. Andere gemeenten verwijzen naar elkaars beleid. Geen enkel beleid, "ter regulering van de bastonen", is gefundeerd. 
    	</p>
	</div>


	<div class="col-sm-12 tl-main">
		<p>Het is mogelijk om de muziek zodanig af te stellen, dat de verschillen in langtijdsgemiddelde C-A precies 15 is. Dan nog kan besloten worden om het gebied tussen 10000Hz en 300Hz minder te benutten en de tonen onder 300Hz extra volume mee te geven. Een krachtiger geluid, met dezelfde normwaarden. Het artikel <a href="http://www.geluidnieuws.nl/2014/mei2014/muziek.html" target="_blank">Muziekspectra</a> over verdeling van geluid door Lennard Duijvestijn (Geluidburo, april 2014) beschrijft de gevaren van generalisatie van muzieksoorten.
		</p>

		<p>In de laatste 20 jaar zijn de muziek, maar ook de techniek geëvolueerd. De regulering van de bastonen blijft hopeloos achter, het waarnemingsverschil hangt af van het karakter van het festival en is zeker niet altijd 15 decibel. 
		</p>
	</div>
</div>


{{> articlefooter this}}

