---
factor: waarnemingsverschil15db
articletitle: Waarnemingsverschil tussen dB(c) en dB(a) is 15 dB.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-4 tl-main">
    	<p>In de laatste 20 jaar sinds de nota EMELK, is de muziek geëvolueerd. De wens van het publiek is niet direct het volume, alswel een fysieke geluidsdruk. <br>
    	De techniek is ook geëvolueerd; line-arrays en j-subs waarmee geluid meer gericht kan worden op het publiek kan worden. Resultaat van de nieuwe techniek leidt niet automatisch tot minder geluidshinder voor omwonenden. Als het geluid harder kan, en het publiek wenst het harder, dan zal de festivalorganisatie alle ruimte in de normering gebruiken om de bezoeker waar voor zijn geld te geven.
    	</p>
	</div>
    <div class="col-sm-8 tl-main">
        <img  class="img-responsive" width="100%" height="auto" src="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png"></img>
        <legend>Bron: Event Acoustics via (<a href="http://www.nsg.nl/file/226/" target="_blank">NSG</a>)</legend>
    </div>

	<p>Als richtlijn wordt aangehouden dat er een maximaal verschil mag zijn tussen dB(c) en dB(a) meting van 15 Decibel. <br>
	Deze richtlijn lijkt voort te komen uit de aanname dat er een gemiddeld waarnemingsverschil is tussen een dB(a) meting en dezelfde waarde in dB(c).<br>
	Lager Toontje kan geen literatuur vinden die dit bevestigd. De correcties voor de dB(a) weging liggen tussen de 0 en 30dB, en 15 ligt halverwege?</p>

	<p>Het is mogelijk om de muziek zodanig af te stellen, dat de verschillen in langtijdsgemiddelde C-A precies 15 is. Dan nog kan besloten worden om het gebied tussen 10000Hz en 300Hz minder te benutten, en de tonen onder 300Hz extra volume mee te geven.  
	</p>

	<p>In de laatste 20 jaar is de muziek ge-evolueerd. De techniek is ook geevolueerd. De regulering van de bastonen blijft hopeloos achter, het waarnemingsverschil hangt af van het karakter van het festival en is zeker niet altijd 15 decibel. 
		
	</p>
</div>


{{> articlefooter this}}

