---
factor: waarnemingsverschil15db
articletitle: Verschil tussen dB(C) en dB(A) is 15 dB.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-6 tl-main">
    	<p>In de laatste 20 jaar sinds de nota EMELK, is de muziek geëvolueerd. De wens van het publiek is niet direct het volume (Zij hebben al oordopjes in), maar eerder een fysieke geluidsdruk. De combinatie van een beat, iets sneller dan de hartslag, en de fysieke geluidsdruk die met het lichaam wordt waargenomen vormt de opzwepende ervaring.<br>
    	De techniek is ook geëvolueerd: line-arrays en j-subs waarmee geluid meer gericht kan worden op het publiek kan worden. De Inzet van deze nieuwe technieken wordt echter niet ingezet om geluidshinder voor omwonenden te verminderen. Als het geluid harder kan, en het publiek wenst het harder, dan zal de festivalorganisatie alle ruimte in de normering gebruiken om de bezoeker waar voor zijn geld te geven.
    	</p>
	</div>
    <div class="col-sm-6 tl-main">
        <a class="image-popup-vertical-fit" href="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png" title="Geluidssterktes in publiek.">
            <img width="100%" height="auto"  src="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png"></img>
        </a>
        <legend>Geluidssterktes in publiek. Bron: Event Acoustics via (<a href="http://www.nsg.nl/file/226/" target="_blank">NSG</a>)</legend>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 tl-main">
        <a class="image-popup-vertical-fit" href="./img/dbc-verhoudingen.png" title="Verhoudingen van Basgeluid kan varieren.">
            <img width="100%" height="auto"  src="./img/dbc-verhoudingen.png"></img>
        </a>

        <legend>Verhoudingen van Basgeluid kan variëren (<a href="./docs/dBa-vs-dBc.xlsx" target="_blank">voorbeeld excel berekening</a>).</legend>
    </div>
    <div class="col-sm-6 tl-main">
    	<p>Festivalvergunningen bevatten vaak een voorschrift (quote) <i>"ter regulering van de bastonen"</i>. De inperking behelst vrijwel altijd een beperking van verschil tussen dB(C) en dB(A). Het <a href="./docs/BeleidsregelsGeluidEvenementenOpenluchtNijmegen.pdf" target="_blank">geluidsbeleid</a> van Nijmegen uit 2008 noemt een maximum van 13 dB. Nijmegen is een van de koplopers op <stromg>basbewust geluidsbeleid</stromg>. Tegenwoordig zien we vaker 15 dB als maximum toegelaten verschil en de festivals zien liever 17 of meer. Maar 15 dB lijkt de algemeen aanvaarde waarde, en het rekent makkelijk. Er is echter geen wetenschappelijke basis voor. De ene gemeente beschrijft dat er 'proefondervindelijk is vastgesteld', maar onder welke condities of met welk soort muziek wordt niet uitgelegd. Andere gemeenten verwijzen naar elkaars beleid. Geen enkel beleid, "ter regulering van de bastonen", is gefundeerd. 
    	</p>
	</div>


	<div class="col-sm-12 tl-main">
		<p>In de regel wordt er niet gehandhaafd op deze basregulatienoerm, helaas. Gemeenten ontberen de kennis om deze maatregel te snappen. Mocht de 15 dB verschil wel gerespecteerd worden, dan nog is het mogelijk om de muziek zodanig af te stellen, dat het verschil in langtijdsgemiddelde C-A precies 15 is. Dan kan nog zo gemixt worden dat het gebied tussen 10000Hz en 300Hz minder benut wordt, en de tonen onder 300Hz krijgen extra volume. Een krachtiger geluid, met dezelfde normwaarden. Het artikel <a href="http://www.geluidnieuws.nl/2014/mei2014/muziek.html" target="_blank">Muziekspectra</a> over verdeling van geluid door Lennard Duijvestijn (Geluidburo, april 2014) beschrijft de gevaren van generalisatie van muzieksoorten.
		</p>

		<p>In de laatste 20 jaar zijn de muziek, maar ook de techniek geëvolueerd. De regulering van de bastonen blijft hopeloos achter, het verschil hangt af van het karakter van het festival, en groeit mee met de verwachtingen van het publiek. 
		</p>
	</div>
</div>


{{> articlefooter this}}

