---
factor: meestbelast
articletitle: De dichtstbijzijnde gevel is de meest belaste gevel.
returnhash: factoren
---

{{> articlehead this}}

<div class="row">
    <div class="col-sm-12 tl-main">
        <p>De gevelnorm geldt voor alle woningen. Zonder uitzondering. Daarom moet worden uitgezocht op welke woning het meeste geluid terecht komt. Belangrijk, want als een geluidsman een gevel kiest waar 3 dB minder geluid op valt en daar zijn monitoring op afstemt, krijgt de meest belaste woning dus 3 dB teveel geluid. Terwijl het festival zich op de borst klopt "weer binnen de norm" te draaien. Alertheid bij handhaving is geboden. Maar welke woning is nu het meest belast? 
            
        <br><br>Hier spelen een aantal factoren een rol. Natuurlijk speelt <strong>afstand</strong> hier een belangrijke rol; per verdubbeling van de afstand neemt festivalgeluid ongeveer 6 dB af. Als het op 200 meter 70 dB(A) is, rekenen we op 400 meter 64 dB(A). 
        <br><br>Daarnaast kunnen er andere gebouwen, dijkjes of heuvels, snelwegen met geluidswallen of andere <strong>objecten</strong> in de buurt staan die geluid in een bepaalde richting weren of juist reflecteren. Soms plaats een festival zelf zeecontainers. De lage tonen laten zich hier overigens minder door sturen; een zeecontainer is maar 3 meter hoog, de laagste tonen hebben golflengtes van 6 of 9 meter en zijn weinig gehinderd door kleinere objecten. <br>Zie ook <a href="./diffractie.html" target="_blank">diffractie</a>.
        </p>
        <p>
        Ook de <strong>richting</strong> van het podium van belang. Met name de subwoofers (baskasten) kunnen tegenwoordig behoorlijk precies gericht worden zodat het meeste geluid richting het publiek gaat, en relatief weinig geluid naar de achterkant of opzij. In deze lijn komt dan meer (bas)geluid dan in een andere richting en de overlast kan zich beperken tot die richting.
        </p>
        <p>
        Maar een onverwachte factor, de minst voorspelbare van allen, is de <strong>windrichting</strong>. 

        </p>
    </div>
</div>


<div class="row">
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto"  src="./img/legenda.png"></img>
        <br><br><br><br>
        <a class="image-popup-vertical-fit" href="./img/krachtigewind.png" title="Effect krachtige wind op geluidssterkte">
            <img width="100%" height="auto"  src="./img/krachtigewind.png"></img>
        </a>

    </div>
    <div class="col-sm-8 tl-main">
        <h3>Uitleg Meewind</h3>
        <p><i>"De wind blaast het geluid een bepaalde kant op".</i> Dat is de uitleg die men vaker hoort, ook in de media als er moet worden uitgelegd waarom een festival veel meldingen van overlast veroorzaakte, terwijl de indruk bestond dat er binnen de norm is gedraaid. 
        <br><br>Echter, een "krachtige" wind waait niet meer dan 10 meter per seconde, terwijl geluid zich verplaatst met 343 m/s.
        <br>Stel, je staat op ruim 300 meter van het festival. Het effect van een krachtige wind jou kant op is net zo groot als wanneer je 10 meter dichter naar het festival toe zou lopen. Een onmerkbaar verschil. Deze uitleg voldoet dus absoluut niet, en verklaart zeker niet het verschijnsel dat net buiten het festivalterrein het volume lijkt mee te vallen, terwijl de overlastmeldingen vaak van grotere afstand komen. 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 tl-main">
       <p>Er moet een andere natuurkundige verschijnsel zijn die verklaart waarom een festival als Awakenings in Spaarnwoude bij westenwind tot aan de kust te horen is. Hieronder volgt de uitleg.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind1.png"></img>
    </div>
    <div class="col-sm-4 tl-main">
        <p>Bij perfect windstil weer beweegt het geluid in concentrische golven, in principe alle richtingen op (links). Slechts een deel van het geluid dat de speakers verlaat komt ook bij de omwonenden.<br>
        De richting van de golf staat rechts ingetekend in blauw; loodrecht op het golffront.</p>
    </div>
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind2.png"></img>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-sm-4 tl-main">
        <br>
        <p>Maar in Nederland is vrijwel altijd wind. Nu is het zo dat niet op alle hoogtes de wind even snel waait. Het KNMI meet altijd op 10 meter hoogte, maar op verschillende hoogtes heersen verschillende windsnelheden (hier getekend in groen). Hoe hoger, hoe meer wind.
    </div>
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind3.png"></img>
    </div>
</div>

<br><br>
<div class="row">
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind4.png"></img>
    </div>
    <div class="col-sm-4 tl-main">
        <p>Door de verschillde windsnelheden verspreidt het geluid zich niet langer in concentrische golven; de circels vervormen. Zij hellen als het ware voorover (links).<br>
        Als we vervolgens de richting van het geluid weer loodrecht op het golffront tekenen (rechts), dan begrijpen we het natuurkundig fenomeen.
    </div>
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind5.png"></img>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-sm-12 tl-main">
       <p>Door de verschillende windsnelheden buigt het geluid dat in eerste instantie schuin omhoog wordt uitgezonden weer terug naar het aardoppervlak, richting de omwonenden. <br>
       Deze krijgen te maken met meer, soms veel meer geluid dan je op basis van de afstand en de richting van het podium zou verwachten. <br>
       Het is goed mogelijk dat er net buiten het terrein zelfs minder geluid is dan een paar honderd meter verderop. Dit leidt tot veel onbegrip bij festivalganger, soms ook bij de handhaver.
       <br>
       Het is van belang om te weten dat dit fenomeen <strong>bij alle windsnelheden</strong> optreedt.<br> Alleen bij windstil weer komt dit niet voor, maar dan is daar mogelijk sprake van atmosfersiche refractie ( zie laatste alinea).
       </p>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-sm-4 tl-main">
        <img width="100%" height="auto" src="./img/meewind6.png"></img>
    </div>
    <div class="col-sm-4 tl-main">
        <p>Het omgekeerde hiervan speelt ook een rol. Waait de wind richting het festival, dan buigt het geluid eerder omhoog en hebben de omwonenden daar minder overlast. Dit verschil in overlast is helaas de bron van veel onbegrip. "ik hoor bijna niks, je zeurt" versus "ik klaag niet zomaar, ik heb significante overlast". 
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-4 tl-main">
        <a class="image-popup-vertical-fit" href="./img/refraction.png" title="Refractie, bundeling van geluid over afstand.">
            <img width="100%" height="auto"  src="./img/refraction.png"></img>
        </a>
        <legend><a href="https://en.wikibooks.org/wiki/Engineering_Acoustics/Outdoor_Sound_Propagation#Refraction.5B17.5D.5B18.5D" target="_blank">bron</a></legend>

    </div>
    <div class="col-sm-8 tl-main">
        <h3>Refractie</h3>
        <p>Atmosferische refractie is een verschijnsel dat optreedt bij windstil weer, wanneer de temperatuur aan de grond lager is dan in de hoger liggende luchtlagen. Dit is een typische omstandigheid voor de avond in een zomers festivalseizoen.<br>
        Hoe warmer de lucht, hoe hoger de snelheid van het geluid. Ook hier vervormen de geluidsgolven en buigt het geluid terug naar de grond. Verschil met de situatie bij meewind is dat dit in alle richtingen rond het festival optreedt.<br>
        <a href="./media/Refraction-of-Sound.mp4" target="_blank">(eenvoudige uitleg)</a><br>
        Het is mogelijk dat zich op verdere afstand een soort hotspots bestaan met meer geluidsbelasting dan de dichstbijzijnde gevel. Ook hier: hoe verder de afstand, hoe zwaarder de basverhouding.<br>
        
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 tl-main">
        <p>Lager Toontje begrijpt wel dat meten op iedere gevel in de wijde omtrek niet reëel is. Het is beter in de avonduren een conservatiever beleid aan te houden, en toch in ieder geval twee of drie meetpunten in de verwachte windrichting continue monitoren. Dat is wat we minimaal van vergunningverlener/handhaver mogen verwachten. 

        </p>
    </div>
</div>


{{> articlefooter this}}

