---
factor: refractie
articletitle: De dichtsbijzijnde gevel is de meest belaste gevel.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Diffractie</h3>
		<p>Het akoestisch onderzoek richt zich op inperken van dB(a) uitstoot naar de dichstbijzijnde gevel. Daar richt de technische installatie zich dus ook op. We zien dat podia weggedraaid worden van bebouwing. Het is een manier om met gelijke gevelnorm een hogere dB(a) podiumnorm te bereiken (en 'dus' ook een hogere dB(c) podiumnorm).</p>
   
    </div>
    <div class="col-sm-8 tl-main">
        <p>
        Het feit dat bastonen door hun langere golflengte makkelijker om objecten heenbuigen wordt niet meeberekend. We zien soms dat zeecontainers geplaatst worden tussen podium en dichstbijzijnde gevels. Daarmee kunnen woningen schuin achter het podium ineens relatief meer dB(c) ontvangen dan de gevel recht achter het podium. Overlast door dB(c) op de tweede rij woningen kan door buiging over de eerste daken even groot zijn als op de voorste rij. 
        </p>
    </div>
    <div class="col-sm-4 tl-main">
        <a class="image-popup-vertical-fit" href="./img/diffraction.gif" title="Diffractie, buiging van geluid.">
            <img width="100%" height="auto"  src="./img/diffraction.gif"></img>
        </a>

        <legend><a href="http://www.sfu.ca/sonic-studio/handbook/Diffraction.html" target="_blank">bron</a></legend></div>
    </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-4 tl-main">
        <a class="image-popup-vertical-fit" href="./img/refraction.png" title="Refractie, bundeling van geluid over afstand.">
            <img width="100%" height="auto"  src="./img/refraction.png"></img>
        </a>
        <legend><a href="https://en.wikibooks.org/wiki/Engineering_Acoustics/Outdoor_Sound_Propagation#Refraction.5B17.5D.5B18.5D" target="_blank">bron</a></legend>

    </div>
    <div class="col-sm-8 tl-main">
        <h3>Refractie</h3>
        <p>Een verschijnsel dat beter kan verklaren waarom klachten vaak nog van verder weg komen, heeft te doen met een meteorologisch verschijnsel dat optreedt wanneer de temperatuur aan de grond lager is dan de iets hogere luchtlagen. Dit is een typische omstandigheid voor de avond in een zomers festivalseizoen.<br>
        <a href="./media/Refraction-of-Sound.mp4" target="_blank">(eenvoudige uitleg)</a><br>
        Het is mogelijk dat zich op verdere afstand een soort hotspots bestaan met meer geluidsbelasting dan de dichstbijzijnde gevel. Ook hier: hoe verder de afstand, hoe zwaarder de basverhouding.<br>
         (<a href="http://www.dichtbij.nl/haarlemmermeer/regio/artikel/4117844/klachtenregen-over-geluidsoverlast-mysteryland-tot-in-zaandam-te-horen.aspx" target="_blank">reikwijdte Mysteryland 2015 was 18 Km, "geen norm overschreden"...</a>)

        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 tl-main">
        <p>Lager Toontje begrijpt wel dat meten op iedere gevel in de wijde omtrek niet reëel is. In de avonduren een conservatiever beleid aanhouden, en toch in ieder geval twee of drie meetpunten continu monitoren, is wat we minimaal van vergunningverlener/handhaver mogen verwachten. 
        De gedachte dat een festival dat wat verder van de bebouwing afstaat automatisch een hoger podiumvolume wordt toegestaan, snijdt op natuurkundige argumenten geen hout. 

        </p>
    </div>
</div>



{{> articlefooter this}}

