---
factor: akoestischonderzoek
articletitle: Het akoestisch onderzoek klopt.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Het Akoestisch onderzoek, of geluidsplan,  wordt gekocht bij een gerenommeerd buro. De klant van het buro is het festival, en heeft tot doel om te verantwoorden dat de door het festival gewenste decibeluitstoot de geldende gevelnorm in dB(a) niet zal overschrijden. Uitganspunt voor het rekenmodel is dus het gemiddeld gedrag van het hele spectrum. <br>

        We lezen: "<strong>gemiddelde omstandigheden</strong>". Dat impliceert dat, bijvoorbeeld met iets eenvoudigs als wind, een deel van de bewoners mazzel heeft, en een ander deel pech. De atmosfeer heeft veel meer effecten op geluid. Luchtvochtigheid en temperatuur, en de meteorologische omstandigheden leiden echter nooit tot aanpassing van de geluidsnivo's als er geen gevelmetingen gedaan worden.<br>

        Wanneer de dB(a) FOH norm is vastgesteld, volgt er geen uitgebreide berekening over het laagste spectrum. Het is in vergunningenland de gewoonte om uit te gaan van een waarnemingsverschil van 15 dB tussen dB(c) en dB(a). <br>
        De stap van FOH dB(a) naar FOH dB(c) is snel gemaakt. Gewoon plus 15 decibel.<br>
        Er is ook geen enkele aanleiding hier onderzoek naar te doen; de gevelnorm is bekend (in dB(a)) en het gemiddels gedrag van geluid respecteert die norm, als het weer meewerkt. Eventueel wordt er bij de gevels gemeten, maar de schijven gaal alleen dicht als de dB(a) gevelnorm wordt overschreden. 
        </p>
	</div>
</div>


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Mogelijk is het akoestisch rapport accuraat voor dB(a). Wanneer er een dB(c) gevelnorm zou bestaan, moeten alle geluidsplannen en modellen herberekend worden. Geen enkel geluidsplan is correct met betrekking tot bastonen.</p>
		<p>Zonder gevelmeting, zonder dB(c) gevelnorm, ligt het voordeel van de twijfel over de juistheid van zo een geluidsplan <strong>altijd</strong>  bij  het festival, en nooit bij de omwonenden.</p>

	</div>
</div>



{{> articlefooter this}}

