---
factor: akoestischonderzoek
articletitle: Het akoestisch onderzoek klopt.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Het akoestisch onderzoek, of geluidsplan, wordt gekocht bij een gerenommeerd bureau. De klant van het bureau is het festival. Het geluidsplan heeft tot doel om te verantwoorden dat de door het festival gewenste decibeluitstoot de geldende gevelnorm in dB(a) niet zal overschrijden (onder gemiddelde omstandigheden). Uitgangspunt voor het rekenmodel is dus het gemiddeld gedrag van geluid van het hele spectrum. <br>
        Het geluidsplan geeft de vergunningverlener een absoluut getal dat als basis kan dienen voor de vergunning.
        </p>
        <p>
        We lezen: "<strong>gemiddelde omstandigheden</strong>". Dat impliceert dat, bijvoorbeeld met iets eenvoudigs als wind, een deel van de omwonenden mazzel heeft en een ander deel pech.<br>
        </p>
        <p>
        Wanneer de dB(a) FOH norm is berekend, volgt er geen uitgebreide berekening over het laagste spectrum dat rekening houdt met het afwijkend gedrag van de laagste tonen met de langste golflengtes en meeste energie. Omdat het geluidsbeleid van gemeenten uit rekengemak uitgaat van maximaal verschil van 15 dB tussen dB(c) en dB(a), is er ook geen enkele aanleiding hier meer onderzoek naar te doen. De stap van FOH dB(a) naar FOH dB(c) is snel gemaakt. Gewoon plus 15 decibel. 
        </p>
        <p>
        De schuiven gaan pas lager als de dB(a) gevelnorm wordt overschreden. dB(c) overschrijdingen <i>"bestaan niet".</i>
        </p>
	</div>
</div>


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Mogelijk is het akoestisch rapport accuraat voor dB(a). Wanneer er een dB(c) gevelnorm zou bestaan, moeten alle geluidsplannen en modellen herberekend worden. Geen enkel geluidsplan op basis van dB(a) gevelnorm is correct met betrekking tot bastonen en daarmee is de geldigheid van verleende vergunningen omstreden.</p>
		<p>Zonder gevelmeting, maar ook zonder dB(c) gevelnorm, ligt het voordeel van de twijfel over de juistheid van een dergelijk geluidsplan <strong>altijd</strong> bij het festival. Het nadeel van de twijfel ligt bij de omwonenden, en dat moet veranderen.</p>

	</div>
</div>



{{> articlefooter this}}

