---
factor: akoestischonderzoek
articletitle: Het akoestisch onderzoek klopt.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Wordt gekocht, als indicatie bij gemiddelde atmosfeer. Is alleen gericht op dB(a), en rekent alleen met 15 dB verschil FOH. Wat er daarna richting gevel gebeurt is van geen belang, want de vergunning is binnen.</p>
	</div>
</div>


{{> articlefooter this}}

