---
factor: atmosfeer
articletitle: Atmosferische invloeden zijn van klein belang.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Er is vooraf een akoestisch onderzoek gedaan door een gespecialiseerd buro, naar de verwachte gevelbelasting in dB(a). Het resultaat van dit onderzoek is een geluidsnorm op 25 meter van het podium, die onder gemiddelde omstandigheden niet zou leiden tot een overschrijding van de dB(a) gevelnorm die een gemeente oplegt, als zij de nota "Evenementen met een luidruchtig karakter" volgt.</p>

        <p>We lezen: "gemiddelde omstandigheden". Dat impliceert dat, bijvoorbeeld met iets eenvoudigs als wind, een deel van de bewoners mazzel heeft, en een deel pech. De atmosfeer heeft veel meer effecten op geluid. Luchtvochtigheid en temperatuur, en de meteorologische omstandigheden leiden echter nooit tot aanpassing van de geluidsnivo's omdat men zonder gevelmeting eenvoudig niet weet hoeveel er aangepast zou moeten worden.</p>



	</div>
</div>


{{> articlefooter this}}

