---
factor: atmosfeer
articletitle: Atmosferische invloeden zijn van klein belang.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Misschien wel. Daar weet Lager Toontje te weinig vanaf</p>
	</div>
</div>


{{> articlefooter this}}

