---
title: bezwaarFOHmeting
---
<section>

<h2>Volstaat het meten bij het podium, FOH?</h2>
Er wordt in de regel gemeten op een bepaalde afstand van het podium, FOH.<br>
Er is vooraf een onderzoek gedaan door een gespecialiseerd buro, naar de verwachte gevelbelasting in dB(a). Het resultaat van dit onderzoek is een geluidswaarde op 25 meter van het podium, die onder gemiddelde omstandigheden niet zou leiden tot een overschrijding van de dB(a) gevelnorm die een gemeente oplegt, als zij de nota "Evenementen met een luidruchtig karakter" volgt.<br>

We lezen: "gemiddelde omstandigheden". Dat impliceerst dat, bijvoorbeeld met iets eenvoudigs als wind, een deel van de bewoners mazzel heeft, en een deel pech. De atmosfeer heeft veel meer effecten op geluid. Luchtvochtigheid en temperatuur, en de meteorologische omstandigheden leiden vrijwel nooit tot aanpassing van de geluidsnivo's omdat men zonder gevelmeting eenvoudig niet weet hoeveel er aangepast zou moeten worden.<br>
<a href="./meteo.html" target="_blank">Meteorologische invloeden op geluidsverplaatsing</a>

De nota EMELK noemt indicatieve praktijkgegevens van een afname van 6dB per verdubbeling van de afstand; 
FOH (25mtr) =~ 100 dB(A), 100 mtr =~95 dB(A), 200mtr =~ 90 dB(A) <br>
Uitvoerige berekeningen nemen objecten in ogenschouw, de plaatsing van de boxen en het soort boxen. <br>
De voorafgemaakte berekeningen kloppen misschien wel, of misschien niet, maar de basis voor al deze berekeningen is het gedrag van dB(a) geluid...


</section>
