---
title: dBC-dBA
---
<section>
    <p>
        <h4>geluidsniveaus in publiek</h4>
        <img  class="img-responsive" src="./img/dbc-dba-geluidsnivos-in-publiek-eventacoustics.png"></img>
        <legend >Bron: Event Acoustics via (<a href="http://www.nsg.nl/file/226/" target="_blank">NSG</a>)</legend>
    </p>
</section>
