---
factor: dempingdbc
articletitle: dB(c) wordt door de atmosfeer evenveel gedempt als dB(a).
---

{{> articlehead this}}

<div class="row">
    <div class="col-sm-5 tl-main">
        <h3>Bastonen dragen verder</h3>
        <p>Bastonen dragen ver. Olifanten communiceren met elkaar in infrasoon geluid, en doen dat over kilometers afstand. <a href="http://www.birds.cornell.edu/brp/elephant/cyclotis/language/infrasound.html" target="_blank">How far do infrasonic elephant calls travel?</a></p>
        <p>De oorzaak van dit gedrag van bastonen heeft te maken met wat er tussen de speakers en de toehoorders zit. Lucht bestaat uit moleculen, geluid is het bewegen van deze moleculen en beweging kost energie. De demping van een golf door het materiaal waar de golf doorheen gaat, hangt af van de frequentie. Dat kan de buitenlucht zijn, zoals in deze grafiek, maar dit gaat ook op voor de gevels rond evenementen.
        </p>
    </div>
    <div class="col-sm-7 tl-main">
        <img tabindex="0" width="80%" height="auto"  src="./img/SoundAbsorptionCoefficient.png"></img>
        <legend>De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping. <a href="https://en.wikibooks.org/wiki/Engineering_Acoustics/Outdoor_Sound_Propagation#Attenuation_by_atmospheric_absorption.5B5.5D_.5B6.5D_.5B7.5D" target="_blank">bron</a></legend>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 tl-main">
        <p>Waar de nota EMELK een verval suggereert van 6 dB(a) per verdubbeling van de afstand, is er geen makkelijke factor voor dB(c) te geven. Dat is de reden waarom veel onderzoeksbureaus zich er niet aan wagen. Natuurkundig feit is, dat de bastonen langer hun energie behouden dan de hogere tonen. Hoe verder van het podium, hoe meer basgeluid er in verhouding in het totale volume zit (hogere dB(c) belasting). De bij het podium opgelegde beperking van 15 dB Verschil tussen dB(c) en dB(a) vertaalt zich op geen enkele manier in een beperking van de bastonen op de gevel.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 tl-main">
        <img  tabindex="0" width="100%" height="auto"  src="./img/vervalgunstig.png"></img><br>
        <legend>Hypotetisch voorbeeld met podiumnorm 95dB(a), 110 dB(c), en gevelnorm van 70 dB(a), waarbij het verval in dB(c) rond de 5 dB per afstandsverdubbeling ligt.</legend>
    </div>
    <div class="col-sm-6 tl-main">
        <p>Als de dichstbijzijnde gevel op 230 meter ligt, wordt aan de dB(a) norm voldaan. Echter alle woningen in een straal van (in dit voorbeeld) 400 meter staan bloot aan onredelijke dB(c) niveaus. Kan minder zijn, maar nooit staat er </p>
        <p>De dB(c) dragen verder, en geeft zelfs op verder gelegen gevels hogere dB(c) waardes dan op de dichstbijzijnde gevel binnen de definitie van duldbaar valt.</p>

        <p>De vooronderstelling dat beperking in het verschil tussen dB(c) en dB(a) ook maar enige garantie geeft aan de gevel, is fout. Zelfs als het waarnemingsverschil 15dB zou zijn, hoort dit verschil aan de gevel en niet FOH. Bij het podium mag <strong>nooit</strong> 15dB verschil tussen C- en A meting zijn. </p>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Demping door gevel</h3>

        <p>Als laatste moet worden opgemerkt dat bij de vaststelling van de gemiddelde demping van gevels, is uitgegaan van een gemiddeld geluidsspectrum. Hoe lager de toon, hoe lager de demping. Geluid met excessieve bas zal binnenshuis dus harder klinken. Hierdoor verdient het aanbeveling conservatiever om te gaan met dB(c) normering. </p>


	</div>
</div>


{{> articlefooter this}}

