---
factor: dempingdbc
articletitle: dB(c) wordt door de atmosfeer net zo gedempt als dB(a).
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
	    <h2 id="dbcnormen">Dragen bastonen verder?</h2><div>
	        <p>Bastonen dragen ver. Olifanten communiceren met elkaar in LFG, dat kan over kilometers afstand.<a href="http://www.birds.cornell.edu/brp/elephant/cyclotis/language/infrasound.html" target="_blank">How far do infrasonic elephant calls travel?</a></p>
	        <p>De reden hiervoor heeft te maken met wat er tussen de speakers en de toehoorders zit. Lucht bestaat uit moleculen, geluid is het bewegen van deze moleculen en beweging kost energie. De demping van een golf door het materiaal waar de golf doorheen gaat, hangt af van de frequentie. Dat kan de buitenlucht zijn, zoals in de grafiek hieronder, maar dit gaat ook op voor de gevels rond evenementen.
	        </p>
	        <img  class="img-responsive" src="./img/SoundAbsorptionCoefficient.png"></img>
	        <p>De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping.</p>
	    </div>

	</div>
</div>


{{> articlefooter this}}

