---
factor: diffractie
articletitle: Afscherming werkt bij dB(A) meting, minder bij dB(C) meting.
---

{{> articlehead this}}

<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Diffractie</h3>
		<p>Het akoestisch onderzoek richt zich op inperken van dB(A) uitstoot naar de dichtstbijzijnde gevel. Daar richt de technische installatie zich dus ook op. We zien dat podia weggedraaid worden van bebouwing. Het is een manier om met gelijke gevelnorm een hogere dB(A) podiumnorm te bereiken (en 'dus' ook een hogere dB(C) podiumnorm).</p>
   
    </div>
    <div class="col-sm-8 tl-main">
        <p>
        Het feit dat bastonen door hun langere golflengte ( meer dan 5 meter) makkelijker om objecten heenbuigen wordt niet meeberekend. We zien soms dat zeecontainers geplaatst worden tussen podium en dichtstbijzijnde gevels. Daarmee kunnen woningen schuin achter het podium ineens relatief meer dB(C) ontvangen dan de gevel recht achter het podium. Overlast door dB(C) op de tweede rij woningen kan door buiging over de eerste daken even groot zijn als op de voorste rij. 
        </p>
    </div>
    <div class="col-sm-4 tl-main">
        <a class="image-popup-vertical-fit" href="./img/diffraction.gif" title="Diffractie, buiging van geluid.">
            <img width="100%" height="auto"  src="./img/diffraction.gif"></img>
        </a>

        <legend><a href="http://www.sfu.ca/sonic-studio/handbook/Diffraction.html" target="_blank">bron</a></legend></div>
    </div>

    </div>
</div>

