---
factor: langtijdgemiddelde
articletitle: Langtijdsgemiddelde norm dB(c) werkt even goed als langtijdsgemiddelde dB(a).
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Casebeschrijving virtueel carbid schieten en sound samples</p>
	</div>
</div>


{{> articlefooter this}}

