---
factor: meteocorrectie
articletitle: Meteo-correctie, en waarom dat niet eerlijk is.
returnhash: factoren
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Meteo-correctie</h3>
        In Amsterdam is in maart 2018 een beleid aangenomen waarin rekening wordt gehouden met het effect van meewind. Dat is niet nieuw natuurlijk; in het oude beleid was de gevelnorm weliswaar in dB(A), maar diende altijd gerespecteerd te worden. Ook als de wind ongunstig stond.<br>
        Het nieuwe beleid voorziet in een uitzondering voor vijf locaties waar de wind meer invloed zou kunnen hebben dan andere locaties. Daar mag, indien er onder meewind gemeten wordt, 3 dB meer op de gevels staan dan op andere locaties of indien er niet tegen de wind in gemeten wordt. <br><br>
        Daar kan Lager Toontje niet mee akkoord gaan. <br>
        Juist op deze locaties hebben de omwonenden van oudsher al veel te stellen gehad met festivals en geluidsoverlast, het geeft geen pas om de redelijke binnennorm van maximaal 50 dB(A) los te laten alleen omdat het festival bang is dat het geluid terug moet als de wind draait.<br>
        Helaas liep een gesprek met beleidsmakers en vergunningverleners, georganiseerd door de Ombudsman, uit op niets. Er kwam slechts 1 ambtenaar opdagen, van de ruim 30 genodigden. Het betoog dat lagertoontje had willen houden, en de daaraan gekoppelde vraag, staat <a href="./meteo/index.html" target="_blank">hier</a>. 
	</div>
</div>


{{> articlefooter this}}

