---
factor: meteocorrectie
articletitle: TODO Meteo-correctie uitleggen en vertellen waarom dat niet eerlijk is.
returnhash: factoren
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Meteo-correctie</h3>
	</div>
</div>


{{> articlefooter this}}

