---
title: NotaEMELK
---
<div class="row">
    <div class="col-sm-12 blog-main">
        <p>In januari 1996 is door de inspectie Milieuhygiëne Limburg onderkent dat gemeenten moeite hadden met het formuleren van hun beleid, met betrekking tot evenementen in de openlucht. Als handreiking is toen de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt door veel gemeenten tot vandaag gebruikt als leiddraad in het vergunningproces.<br>
        Geluidswaardes binnen de woning van 45-50 dB(a) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd. Met meer dan 55 dB(a) moet er met behoorlijke stemverheffing worden gesproken.</p>
         <p>Opgemerkt moet worden dat in 1996 nog geen evenementen bestonden waar de bastonen zo een groot aandeel hadden in de totale geluidsproductie. De duur van een evenement in de bebouwde kom was meestal beperkt tot een paar uurtjes per dag.</p>

    </div><!-- /.blog-main -->
</div> <!-- class="row" -->
