---
title: NotaEMELK
---
<div class="row">
    <div class="col-sm-12 blog-main">
        <p>In januari 1996 is door de inspectie Milieuhygiëne Limburg onderkent dat gemeenten moeite hadden met het formuleren van hun beleid, met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is toen de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt door veel gemeenten tot vandaag gebruikt als leiddraad in het vergunningproces.<br>
        <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">(lees deze nota)</a><br>

        Geluidswaardes binnen de woning van boven de 50 dB(a) wordt gekenmerkt als 'onduldbaar', met het oog op de spraakverstaanbaarheid.</p><br>

        <p>Opgemerkt moet worden dat in 1996 nog geen evenementen bestonden waar de bastonen zo een groot aandeel hadden in de totale geluidsproductie. Tegenwoordig is hier wel oog voor. Het aandeel van  bastonen in de geproduceerde decibellen kan gemeten worden. TODO LINK NAAR DBC PAGE. </p>

        <p>Het waarnemingsverschil van 15 decibel tussen dB(c) en dB(a) is algemeen aanvaard, maar wordt nergens terugvertaald naar normering binnen de woning. Lager Toontje durft het aan: In beginsel is een geluidsdruk van 65 dB(c) in de woning op argumenten van spraakverstaanbaarheid te kenmerken als 'onduldbaar'. <br>

        Het is dus goed mogelijk dat niet dB(a) maar de dB(c) meting binnenshuis de beperkende factor is voor toegestane geluidsproductie, wanneer de muziek relatief veel bastonen bevatten. </p>

        <p>Lees ook: Wat klopt er niet aan het veronderstelde waarnemingsverschil van 15 decibel. TODO Link dbc-dba</p>


    </div><!-- /.blog-main -->
</div> <!-- class="row" -->
