---
factor: refractie
articletitle: De dichtsbijzijnde gevel is de meest belaste gevel.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Refractie en buiging. Zeecontainer betekent verlichting voor dB(a) direct achter het podium, maar wellicht verslechtering voor schuin achter podium</p>
	</div>
</div>


{{> articlefooter this}}

