---
factor: refractie
articletitle: De dichtsbijzijnde gevel is de meest belaste gevel.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
        <h3>Diffractie</h3>
		<p>Het akoestisch onderzoek richt zich op inperken van dB(a) uitstoot naar de dichstbijzijnde gevel. Daar richt de technische installatie zich dus ook op. We zien dat podia weggedraaid worden van bebouwing, maar berekende podiumnorm houdt hier reeds rekening mee.</p>
        <div class="tl-imageright">    <img  class="img-responsive tl-imageright" width="300px" height="auto" src="./img/diffraction.gif"></img>
        <legend><a href="http://www.sfu.ca/sonic-studio/handbook/Diffraction.html" target="_blank">bron</a></legend></div>
        <p>
        het feit dat bastonen door hun langere golflengte makkelijker om objecten heenbuigen, wordt niet meeberekend. We zien soms dat zeecontainers geplaatst worden tussen podium en dichstbijzijnde gevels. Daarmee kunnen woningen schuin achter het podium ineens relatief meer dB(c) ontvangen dan de gevel recht achter het podium.
        </p>

    </div>
</div>
<div class="row">
    <div class="col-sm-4 tl-main">
        <img  class="img-responsive tl-imageright" width="300px" height="auto" src="./img/refraction.png"></img>
        <legend><a href="https://en.wikibooks.org/wiki/Engineering_Acoustics/Outdoor_Sound_Propagation#Refraction.5B17.5D.5B18.5D" target="_blank">bron</a></legend>

    </div>
    <div class="col-sm-8 tl-main">
        <h3>Refractie</h3>
        <p>Een verschijnsel dat zelfs beter verklaart waarom klachten vaak nog van verder weg komen, heeft te doen met een meteorologisch verschijnsel dat optreedt wanneer de temperatuur aan de grond lager is dan de iets hogere luchtlagen. Een typerende omstandigheid voor de avond in een zomers festivalseizoen.<br>
        Met name over water.... TODO Afmaken</p>
    </div>
</div>


{{> articlefooter this}}

