---
factor: spraakverstaanbaarheid
articletitle: Spraakverstaanbaarheid binnenshuis is niet de enige overlastmaat.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>Nooit onderzoek gedaan naar dB(c). Zeker binnenshuis na minder demping atmosfeer, minder demping gevels, en opslingeren. Het is onmogelijk met de podiumnorm te voorkomen dat 65 dB(c) wordt gehandhaaft. Plus, trilling. Auditief uithoudingsvermogen etyc.</p>
	</div>
</div>


{{> articlefooter this}}

