---
factor: spraakverstaanbaarheid
articletitle: Spraakverstaanbaarheid binnenshuis is de enige overlastmaat.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>"De kopjes rammelen in de kastjes" is de meest gebagatelliseerde uitspraak in discussies over overlast door lage tonen. Omdat de gevelnorm in dB(a) wordt gesteld, is de juridische discussie over overlast ook beperkt tot dB(a). Wanneer echter de basverhouding schever en schever komt te liggen, worden de seismologische argumenten steeds belangrijker. Wanneer de voordeur trilt in de sponning, en deze op de eigen (hogere) frequentie mee gaat trillen, versterkt dat het decibelniveau binnenshuis. <br>
        Het RIVM (TODO LINK NAAR REFERENTIE) noemt dit het 'opslingeren van geluid'. <br>
        Daarnaast worden de bastonen niet alleen als geluid, maar als trilling ervaren. De bank waar men op zit, de tafel, het bed waar men in slaapt... TODO Auditief uithoudingsvermogen</p>
	</div>
</div>


{{> articlefooter this}}

