---
title: stelling
---
<section>
    <p>
    Wij
        <ul><li>
            Iedereen die onduldbare geluidsoverlast ervaart ondanks normering
        </li></ul>
    constateren
        <ul>
            <li>Dat de festivals in de open lucht meer en meer bastonen produceren</li>
            <li>Dat gemeenten nog steeds moeite hebben met het formuleren van normstelling</li>
            <li>Dat dB(c) soms een betere indicator van de hindermaat is</li>
            <li>Dat de in 1996 opgestelde definitie van 'onduldbare overlast' niet volledig is</li>
        </ul>
    en verzoeken
        <ul>
            <li>Wij verzoeken om nieuwe regelgeving, die rekening houdt met het specifieke karakter van de bastonen.</li>
            <li>Wij verwachten dat deze regelgeving landelijk zal gelden</li>
            <li>Wij verzoeken de festivals verder uit de bebouwde kom te plaatsen, zonder verruiming van de geluidsnormen</li>
        </ul>

    </p>
</section>
