---
factor: waarnemingsverschil15db
articletitle: >Waarnemingsverschil 15 dB gaat op voor alle muziek.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>NOT!</p>
	</div>
</div>


{{> articlefooter this}}

