---
factor: waarnemingsverschil15db
articletitle: Waarnemingsverschil tussen dB(c) en dB(a) is 15 dB.
---

{{> articlehead this}}


<div class="row">
    <div class="col-sm-12 tl-main">
		<p>NOT!</p>
	</div>
</div>


{{> articlefooter this}}

