---
title: Home
---
<section class="container">

    <div class="blog-header">
        <h1 class="blog-title">Lager Toontje</h1>
        <p class="lead blog-description">Over evenementen met een luidruchtig karakter in de open lucht</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="lager-h4">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Wat is nog duldbaar te noemen?</a>
                            <i id="collapse1Chevron" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>In januari 1996 is door de inspectie Milieuhygiëne Limburg onderkent dat gemeenten moeite hadden met het formuleren van hun beleid, met betrekking tot evenementen in de openlucht. Als handreiking is toen de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt door veel gemeenten tot vandaag gebruikt als leiddraad in het vergunningproces.<br>
                            Geluidswaardes binnen de woning van 45-50 dB(a) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd. Met meer dan 55 dB(a) moet er met behoorlijke stemverheffing worden gesproken.</p>
                             <p>Opgemerkt moet worden dat in 1996 nog geen evenementen bestonden waar de bastonen zo een groot aandeel hadden in de totale geluidsproductie. De duur van een evenement in de bebouwde kom was meestal beperkt tot een paar uurtjes per dag.</p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="lager-h4">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Wat wordt er gemeten? Waar wordt er gemeten?</a>
                            <i  id="collapse2Chevron" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <p>Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de gevoeligheid geleidelijk af.<br>
                            Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol spelen. <br>
                            Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder goed kunnen horen, en dat vindt men niet eerlijk. Daarom wordt er bij evenementen gewerkt met een filter, de A-weging.<br>Normering is dus in ieder geval in dB(a). </p>
                            <img  class="img-responsive" src="./img/AWeging.png"></img>
                            <legend >De schaal is logaritmisch.</legend>
                            <p>Hoe hoger de toon, hoe minder correctie. Bij 1000 Hz is de correctie nul.<br>
                            In de toonregeling mag een evenement tonen van 100Hz 20 decibel harder klinken. 
                            <audio controls="controls" src="./audio/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio><legend>een toon van 100Hz</legend>
                            </p>
                            <a href="https://nl.wikipedia.org/wiki/DB(A)" target="_blank">Wiki over dB(a)</a></p>

                            <p>Als de bovengrens voor geluid in de woning op 55 dB(a) is gezet, en als we weten hoeveel een gemiddelde gevel dempt, dan weet je de gevelnorm. Oude woningen, 70 dB(a), nieuwbouw 75 dB(a)<br>
                            Er wordt, in een ideale situatie, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 5 minuten. (LAeq)
                            </p>

                            <p>Een festival laat vooraf onderzoeken hoeveel decibels zij bij het podium kan uitstoten om de gevelnorm te respecteren. In de vergunning staat meestal de podiumnorm, deze wordt in de regel gemeten op 25 meter voor het podium.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="lager-h4">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Waarom zijn er andere normen voor lage tonen?</a>
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Echter, de balans etc... </p>
                            <a href="https://nl.wikipedia.org/wiki/DB(A)" target="_blank">Wiki over dB(a)</a>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="lager-h4">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Dragen bastonen verder?</a>
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Bastonen dragen ver. Olifanten communiceren met elkaar in LFG, dat kan over kilometers afstand.<a href="http://www.birds.cornell.edu/brp/elephant/cyclotis/language/infrasound.html" target="_blank">How far do infrasonic elephant calls travel?</a></p>
                            <p>De reden hiervoor heeft te maken met wat er tussen de speakers en de toehoorders zit. Lucht bestaat uit moleculen, geluid is het bewegen van deze moleculen en beweging kost energie. De demping van een golf door het materiaal waar de golf doorheen gaat, hangt af van de frequentie. Dat kan de buitenlucht zijn, zoals in de grafiek hieronder, maar dit gaat ook op voor de gevels rond evenementen.
                            </p>
                            <img  class="img-responsive" src="./img/SoundAbsorptionCoefficient.png"></img>
                            <p>De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping.</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <nav>
            <ul class="pager">
              <li><a href="./lagertoontje.html">Vorig</a></li>
              <li><a href="./lagertoontje.html">Volgende</a></li>
            </ul>
            </nav> -->

        </div><!-- /.blog-main -->
    </div> <!-- class="row" -->
</section>
