<div class="row">
    <div class="col-sm-12 tl-main tl-factor">
        <p>{{articletitle}}</p>
        <button id="meeeens" class="tl-agreebutton" data-factor={{factor}}>Mee eens</button> <button class="tl-disagreebutton" id="nietmeeeens" data-factor={{factor}}>Niet mee eens</button><br>
        <a href="./index.html#factoren">Beoordeel de andere factoren.</a> 

    </div>
</div>
