<div class="row">
    <div class="col-sm-12 tl-main">
        <div class="tl-header">
            <h1 class="tl-title">Lager Toontje</h1>
            <p class="lead tl-description">{{articletitle}}</p>
        </div>
    </div>
</div>

