<div class="row">
    <div class="col-sm-12 tl-main tl-factor">
    	<p>De huidige regelgeving kan zich baseren op de volgende vooronderstelling:</p>
        <p><i id="{{factor}}"class="tl-checkmark checked"></i> &nbsp; {{articletitle}}</p>
        <p><button data-agree="true" data-factor={{factor}}>Mee eens</button> <button data-agree="false" data-factor={{factor}}>Niet mee eens</button></p>
        <p><a href="./index.html#factoren">Beoordeel ook de andere factoren.</a></p>

    </div>
</div>
