Twintig jaar geleden is door de "Interdepartementale Commissie Geluidshinder" onderkend dat gemeenten moeite hadden met het formuleren van hun beleid met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is in 1996 de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt tot vandaag gebruikt als leidraad in het vergunningproces voor muziekevenementen.<br>

Ik zal hieraan refereren als <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">nota EMELK</a>. <br><br>

Geluidswaarden binnen de woning van 45-50 dB(A) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd.<br><br>

Over binnenshuis stoorgeluid van 50 dB(A) door nabijgelegen evenementen schreef men het volgende:
<blockquote>"Dit zou betekenen dat men (voor het gehoor) dubbel zo luid zou moeten spreken om nog goed verstaanbaar te zijn, en minimaal het spraakniveau naar 53 dB(A) zou moeten verhogen (fysisch een verdubbeling) om nog net verstaanbaar te zijn.

Dit is zo'n ernstige aantasting van de persoonlijke levenssfeer, dat hier de grens zou moeten liggen van wat in redelijkheid van een omwonende gevraagd kan worden te accepteren, en wat daarom kan worden gezien als de grens waarboven een geluid als "onduldbaar" kan worden gekwalificeerd."</blockquote>

Opgemerkt moet worden dat in 1996 nog niet veel evenementen bestonden waar de bastonen een groot aandeel hadden in de totale geluidsproductie. Tegenwoordig is hier wel meer oog voor. Tot 2017 ging men ervan uit dat een gevelnorm in dB(A) en een basverhouding (maximaal verschil tussen C en A waardes bij het podium, bijvoorbeeld maximaal 15 dB verschil) de spraakverstaanbaarheid garandeerden. <br><br>

<a href="./02spraakverstaanbaarheid.html">Spraakverstaanbaarheid binnenshuis is echter niet de enige overlastmaat</a><br><br>

Het is goed mogelijk dat niet dB(A) maar de hoeveelheid dB(C) binnenshuis de beperkende factor is voor toegestane geluidsproductie, wanneer de muziek relatief veel bastonen bevat.
Een modern geluidsbeleid bevat ook een norm voor dB(C).<br><br>

Hoeveel geluid er bij de woning wordt toegestaan verschilt per gemeente. Het kan afhangen van hoevaak er een evenement plaatsvindt; eenmaal per jaar is er misschien meer mogelijk dan 4 maal of vaker. 
