<p>Met een toelaatbare waarde van 50 dB(A) binnenshuis en een gemiddelde demping door de gevels van 20 decibel of 25 dB voor nieuwere woningen, staat de gevelnorm op 70 dB(A) of 75 dB(A) voor nieuwere woningen.<br>
Er wordt, <strong>in een ideale situatie</strong>, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 5 minuten (LAeq), en men meet bij de dichtstbijzijnde gevel.
</p>

<p>Volstaat dit? Waar het gaat om voorkoming van geluidsoverlast van evenementen zonder excessieve basverhouding, is de gevelmeting een goed middel om bewoners te beschermen tegen onduldbare geluidsniveaus binnenshuis. Mocht er aan de gevel meer dan 70 dB(A) gemeten worden, dan moeten de schuiven naar beneden, en kan de bewoner weer slapen/tv kijken/converseren. De basverhouding is hierbij geen factor, men kijkt naar een gemiddelde.<p>

<p>In de praktijk wordt vaak een andere methode gebruikt... <br>
Een festival laat vooraf onderzoeken door een gespecialiseerd bureau hoeveel decibels zij bij het podium kan uitstoten om de dB(A) gevelnorm te respecteren. In de vergunning staat meestal de podiumnorm, deze wordt in de regel gemeten op ca. 25 meter voor het podium. Dat meetpunt wordt aangeduidt als "Front of House", kortweg FoH. </p>
<p>Ter regulering van de bastonen stelt men een grens aan het verschil tussen dB(C) en dB(A) van 15 decibel. Dit is vaak de enige concrete basbewuste maatregel, en deze wordt slecht gehandhaafd.
</p>

<p>Op de vraag waarom er geen gevelmetingen in dB(C) wordt gedaan, worden in de regel door de normgevende instantie 2 redenen genoemd.
<ul>
    <li>
Een goede gevelnorm voor dB(C) is moeilijk te berekenen omdat, anders dan voor de dB(A), het geluidsniveau niet redelijk lineair daalt naarmate de afstand tot de bron groter wordt. Met dB(C) is het dus minder goed te berekenen.
    </li>
    <li>
Er is altijd Laagfrequent geluid in de omgeving wat wij mensen niet opmerken. De wind die bomen en struiken laat ruisen, autoverkeer, industrie op afstand. Hoe verder je van een festival meet, hoe groter het aandeel 'stoorgeluiden' in de 5-minuten meting, dus hoe onzuiverder de dB(C) meting is. 
    </li>
</ul>  
</p>

