    <p>Twintig jaar geleden is door de "Interdepartementale Commissie Geluidshinder" onderkend dat gemeenten moeite hadden met het formuleren van hun beleid met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is in 1996 de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt tot vandaag gebruikt als leidraad in het vergunningproces voor muziekevenementen.</p>

        <p>Ik zal hieraan refereren als <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">nota EMELK</a>. </p>

        <p>Geluidswaarden binnen de woning van 45-50 dB(A) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd.</p>

        Over binnenshuis stoorgeluid van 50 dB(A) door nabijgelegen evenementen schreef men het volgende:
        <blockquote>"Dit zou betekenen dat men (voor het gehoor) dubbel zo luid zou moeten spreken om nog goed verstaanbaar te zijn, en minimaal het spraakniveau naar 53 dB(A) zou moeten verhogen (fysisch een verdubbeling) om nog net verstaanbaar te zijn.

        Dit is zo'n ernstige aantasting van de persoonlijke levenssfeer, dat hier de grens zou moeten liggen van wat in redelijkheid van een omwonende gevraagd kan worden te accepteren, en wat daarom kan worden gezien als de grens waarboven een geluid als "onduldbaar" kan worden gekwalificeerd."</blockquote>

        <p>Opgemerkt moet worden dat in 1996 nog niet veel evenementen bestonden waar de bastonen een groot aandeel hadden in de totale geluidsproductie. Tegenwoordig is hier wel meer oog voor, maar de gebruikte maatregelen (zoals de basregulatie norm van max 15 dB verschil tussen C- en A-weging) leidt nergens tot een vertaling naar normering op de plaats waar de overlast plaatsvindt; binnen de woning. 
        </p>

        Het is dus goed mogelijk dat niet dB(A) maar de hoeveelheid dB(C) binnenshuis de beperkende factor is voor toegestane geluidsproductie, wanneer de muziek relatief veel bastonen bevat. <br>
