Vergunningenbeleid gaat ervan uit dat enige mate van overlast niet is te voorkomen.<br>
Beleidsmakers en uitvoerders gaan ervan uit dat de gebruikte combinatie van maatregelen volstaat ter voorkoming van onduldbare overlast. Deze aanname is echter matig gefundeerd.

<ul class="list-unstyled factors">
    <li>
        <a href="./dempingdbc.html">dB(C) gedraagt zich echt anders dan dB(A)</a>
    </li>

    <li>
        <a href="./02spraakverstaanbaarheid.html">Spraakverstaanbaarheid binnenshuis is de enige overlastmaat</a>
    </li>

    <li>
        <a href="./03langtijdgemiddelde.html">Verstopt gevaar van uitmiddelen</a>
    </li>

    <li>
        <a href="./meteocorrectie.html">meteocorrecties (TODO)</a>
    </li>

    <li>
        <a href="./05refractie.html">De dichtsbijzijnde gevel is niet altijd de meest belaste gevel</a>
    </li>

</ul>
