
<h3>Geluid: Wat is een decibel?</h3>

Geluid is een trilling van de lucht, met zowel een frequentie als een amplitude. Frequentie bepaalt de toonhoogte, amplitude is de sterkte van de trilling, van de golf. <br>
De decibel geeft aan hoe luid het geluid is, maar niet als eenheid. Het gaat om een <a href="https://nl.wikipedia.org/wiki/Logaritmische_schaal" target = "_blank">logaritmische schaalverdeling</a> tussen het absolute minimum (de gehoordrempel) en het theoretische maximum haalbare geluidsniveau. <br>
De door Alexander Graham Bell bedachte schaal loopt van (10)<sup>0</sup> tot (10)<sup>12</sup>, in 12 stappen. Omdat 12 stappen weinig precies is, is deze verdeling door 10 gedeeld en zo kom je bij <b>decibel</b> of dB. <br> 
<br>

De mens ervaart elke 3 decibel als een verdubbeling van het geluid: <br>
<ul>
    <li><span class="speaker"></span> bijv. 60 dB</li>
    <li><span class="speaker"></span><span class="speaker"></span> is dan 63 dB</li>
    <li><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span> 66 dB</li>
    <li><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span> 69 dB</li>
    <li><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span><span class="speaker"></span> 72 dB</li>
</ul>

Om het subjectieve geluid met 5 dB te laten afnemen moet het bronvermogen terug met ongeveer 80%. <br>
Omdat het een logaritmische schaal is, is het absolute verschil tussen 70 en 73 dB veel kleiner dan tussen 80 en 83 dB. 
