
<h3>dB(A)</h3>
Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de gevoeligheid geleidelijk af.<br>
Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol spelen.
Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder goed kunnen horen, en dat vindt men niet eerlijk.
Het karakter van Dance-, House-, Trance- of Hardcore-festivals zou verdwijnen als de bas grootdeels zou worden weggefilterd. <br>
Daarom wordt er bij beoordeling van overlast gewerkt met een filter dat de meting corrigeert op de beperking van het menselijk oor; de A-weging.<br>
Beperking van de geluidsuitstoot is dus in ieder geval gevat in een norm in <a href="https://nl.wikipedia.org/wiki/dB(A)" target="_blank">dB(A)</a> <br><br>

<img  class="img-responsive tl-imageright" width="300px" height="auto" src="./img/AWeging.png"></img> 
Hoe hoger de toon, hoe minder correctie. De schaal is niet lineair, dus voor het merendeel van het geluidsspectrum geldt geen correctie.<br>
In de toonregeling van een evenement mogen tonen van 100Hz ongeveer 20 decibel harder klinken dan tonen hoger dan 1000Hz. Een verhoging met 20 dB vraagt (logaritmische schaalverdeling) ruim 6 maal zoveel energie. Toch neemt het menselijk oor op deze frequentie de 20 dB verhoging ongeveer even hard waar als de hogere tonen in het geluid.<br>
<audio controls="controls" src="./media/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio><legend>Een toon van 100Hz</legend>
Tot 2017 werden festivals voornamelijk genormeerd op dB(A), de grens werd getrokken bij spraakverstaanbaarheid binnenshuis. <br><br>


<h3>dB(C)</h3>
Simpel gezegd, dat is meten zonder deze correctie. De fysieke geluidsdruk wordt gemeten, en de hoeveelheid bas in de mix heeft grotere invloed op de totale meetwaarde.
<br><br>

Over het algemeen wordt in de metingen en de normen uitgegaan van een gemiddelde van bijvoorbeeld 5 minuten. Dat geldt voor metingen dB(A) maar indien er een dB(C) norm is gegeven, dan geldt dat ook voor deze metingen. <br><br>

Er wordt onderkend dat er tegenwoordig in verhouding meer basgeluid nodig is om aan het karakter van bepaalde muzieksoorten recht te doen. Door betere, sterkere subwoofers is de smaak van de DJ en het publiek veranderd en acht men meer basgeluid nodig. Voor 2017 experimenteerden verschillende gemeenten met het opleggen van een norm in dB(C), maar er is nog geen consenus over wat een goede norm zou zijn. <br>
Wanneer er in verhouding veel bas in het geluid gemixt wordt heeft dat relatief weinig invloed op het totale volume gemeten in dB(A), maar veel invloed op de overlast. 
<br>
Een vergunning voor een dancefestival waar nog dB(A) gevelnormen in staan past niet in deze tijd. Kom je die tegen, vraag je gemeente om een aanpassing, eventueel <a href="/bezwaar/index.html">middels een bezwaar</a>.
<br><br>

<h3 id="divCandA">Het verschil tussen dB(C) en dB(A).</h3>
Het verschil tussen aantal decibels gemeten in dB(C) en gemeten in dB(A), is een goede indicatie voor het aandeel van de zware bassen in het totale volume. Wij spreken van de <strong>basverhouding</strong>. Het verschil in karakter van muziek met weinig- en met veel basgeluid is <a href="./dempingdbc.html">hier</a> uitgelegd. <br><br>

<h3 id="zelfmeten">Kun je zelf meten?</h3>
Een gecetrificeerde klasse1 meter, die je nodig hebt om een meting juridisch dicht te timmeren, is onbetaalbaar. Indicatief zijn er goede apps voor de smartphone, en slechte apps. Soms zit een app er 6 dB naast. Hou daar rekening mee, probeer meerdere apps. De app van het geluidBureau is een redelijke benadering, en geeft een goed inzicht in de basverhouding van de muziek. <a href="https://geluidburo.nl/dbmusic/">dBmusic</a> 

