Vergunningenbeleid gaat ervan uit dat enige mate van overlast niet is te voorkomen.<br>
Beleidsmakers en uitvoerders gaan ervan uit dat de gebruikte combinatie van maatregelen volstaat ter voorkoming van onduldbare overlast. Deze aanname is echter matig gefundeerd.
<br>
Normeren in dB(C) en per 3 minuten is de eerste stap naar een beleid met kwantificeerbaar minder overlast. Maar er dient wel te worden verkend wat een redelijke norm is.

<ul class="list-unstyled factors">
    <li>
        <a href="./dempingdbc.html">dB(C) gedraagt zich echt anders dan dB(A)</a>
    </li>

    <li>
        <a href="./02spraakverstaanbaarheid.html">Spraakverstaanbaarheid binnenshuis is de enige overlastmaat</a>
    </li>

    <li>
        <a href="./03langtijdgemiddelde.html">Verstopt gevaar van uitmiddelen</a>
    </li>

    <li>
        <a href="./05meestbelast.html">De dichtsbijzijnde gevel is niet altijd de meest belaste gevel</a>
    </li>

    <li>
        <a href="./meteocorrectie.html">Meteocorrectie?</a>
    </li>

</ul>
