
<h3>dB(A)</h3>
<p>Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de gevoeligheid geleidelijk af.<br>
Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol spelen.
Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder goed kunnen horen, en dat vindt men niet eerlijk.
Het karakter van Dance-, House-, Trance- of Hardcore-festivals zou verdwijnen als de bas grootdeels zou worden weggefilterd. <br>
Daarom wordt er bij evenementen gewerkt met een filter dat de meting corrigeert op de beperking van het menselijk oor; de A-weging.<br>
Beperking van de geluidsuitstoot is dus in ieder geval gevat in een norm in <a href="https://nl.wikipedia.org/wiki/dB(A)" target="_blank">dB(A)</a> </p>
<img  class="img-responsive tl-imageright" width="300px" height="auto" src="./img/AWeging.png"></img>
<p>Hoe hoger de toon, hoe minder correctie. De schaal is niet lineair, dus voor het merendeel van het geluidsspectrum geldt geen correctie.<br>
In de toonregeling van een evenement mogen tonen van 100Hz ongeveer 20 decibel harder klinken dan tonen hoger dan 1000Hz. De decibelschaal is ook niet lineair maar logaritmisch; Een verdubbeling van de energie resulteert in een <a href="https://nl.wikipedia.org/wiki/Logaritmische_schaal" target = "_blank">toename van 3 decibel</a>. Een verhoging met 20 dB vraagt ruim 6 maal zoveel energie. Toch neemt het menselijk oor op deze frequentie de 20 dB verhoging ongeveer even hard waar als de hogere tonen in het geluid.</p>
<audio controls="controls" src="./media/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio><legend>Een toon van 100Hz</legend>


<h3>dB(C)</h3>
<p>Simpel gezegd, dat is meten zonder deze correctie. De fysieke geluidsdruk wordt gemeten, en de hoeveelheid bas in de mix heeft grotere invloed op de totale meetwaarde.
</p>

<p>Over het algemeen wordt in de metingen en de normen uitgegaan van een gemiddelde van bijvoorbeeld 5 minuten. Dat geldt voor metingen dB(A) maar indien er een dB(C) norm is gegeven, dan geldt dat ook voor deze metingen. </p>

<h3>Waarom ook dB(C)?</h3>
<p>Er wordt onderkend dat er tegenwoordig in verhouding meer basgeluid nodig is om aan het karakter van bepaalde muzieksoorten recht te doen. Tot 2001 werden geluidsnormen uitsluitend aangegeven met dB(A)-waarden. Verschillende gemeenten experimenteren met het opleggen van een norm in dB(C), maar men is zoekende. <br>
Wanneer er in verhouding veel bas in het geluid gemixt wordt heeft dat relatief weinig invloed op het totale volume, maar veel invloed op de overlast. 
</p>

<h3>Het verschil tussen dB(C) en dB(A).</h3>
<p>Het verschil tussen aantal decibels gemeten in dB(C) en gemeten in dB(A), is een goede indicatie voor het aandeel van de zware bassen in het totale volume. Wij spreken van de <strong>basverhouding</strong>. Stedelijk beleid is dat dit verschil nooit boven 15 dB mag komen. Dus, een geluidsnorm van 100 dB(A) zou hand in hand gaan met 115 dB(C). Deze begrenzing geeft gemeenten in zekere mate een middel ter regulering in handen. 
</p> 
