<p>Met een toelaatbare waarde van 50 dB(A) binnenshuis (spraakverstaanbaarheid) en een gemiddelde demping door de gevels van 20 decibel of 25 dB voor nieuwere woningen, staat de gevelnorm op 70 dB(A) of 75 dB(A) voor nieuwere woningen.<br>
Er wordt, <strong>in een ideale situatie</strong>, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 5 minuten (LAeq), en men meet bij de dichtstbijzijnde gevel.
</p>

<p>Volstaat dit? Waar het gaat om voorkoming van geluidsoverlast van evenementen zonder excessieve basverhouding, is de gevelmeting een goed middel om bewoners te beschermen tegen onduldbare geluidsniveaus binnenshuis. Mocht er aan de gevel meer dan 70 dB(A) gemeten worden, dan moeten de schuiven naar beneden, en kan de bewoner weer slapen/tv kijken/converseren. Beter is het rekening te houden met de zwaarte van de bas. 80 dB(C) in combinatie met 70 dB(A) geeft een heel andere ervaring dan 90 dB(C) in combinatie met 70 dB(A). Meer en meer gemeenten beseffen dit.<p>

<p>Ook de keuze voor het uitmiddelen per 5 minuten is niet altijd de beste keuze.  <br>
Dat kan betekenen dat er 4 minuten op acceptabel niveau wordt gedraaid, en 1 minuut alle schuiven vol open. Het resultaat is een verstoring van het woonklimaat en een flinke irritatie bouwt op. 
<br>
Beter is het om uit te middelen per 1 of 3 minuten. 
</p>
