Vergunningenbeleid gaat ervan uit dat enige mate van overlast niet is te voorkomen.<br>
Beleidsmakers en uitvoerders gaan ervan uit dat de gebruikte combinatie van maatregelen volstaat ter voorkoming van onduldbare overlast. Deze aanname is echter matig gefundeerd.

<ul class="list-unstyled factors">
    <li>
        <a href="./01dempingdbc.html">dB(C) gedraagt zich echt anders dan dB(A)</a>
    </li>

    <li>
        <a href="./02spraakverstaanbaarheid.html">Spraakverstaanbaarheid binnenshuis is de enige overlastmaat</a>
    </li>

    <!-- <li><i id="atmosfeer"class="tl-checkmark "></i>
        <a href="./atmosfeer.html">Atmosferische invloeden zijn van klein belang</a>
    </li> -->

    <li>
        <a href="./03langtijdgemiddelde.html">Langtijdsgemiddelde norm dB(C) werkt even goed als langtijdsgemiddelde dB(A)</a>
    </li>

    <li>
        <a href="./04waarnemingsverschil15db.html">Verschil tussen dB(C) en dB(A) is altijd 15 dB</a>
    </li>

    <li>
        <a href="./05refractie.html">De dichtsbijzijnde gevel is niet altijd de meest belaste gevel</a>
    </li>

    <li>
        <a href="./06akoestischonderzoek.html">Het akoestisch onderzoek klopt</a>
    </li>
</ul>
