<footer class="tl-footer">

<div class="row">
    <div class="col-sm-2">
		<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="LagerToontje.nl" data-size="large">Tweet over deze site</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div class="col-sm-2">
		<a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @LagerToontje</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	</div>
	<div class="col-sm-8">
		<script>
		  (function() {
		    var cx = '007090113721143447481:kzf0jvsjrsu';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search>Zoek</gcse:search>
	</div>

</div>
</footer>


<script src="./assets/jquery.min.js"></script>
<script src="./assets/js.cookie.js"></script>
<script src="./assets/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./assets/ie10-viewport-bug-workaround.js"></script>
<script src="./js/lagertoontje.js"></script>

