<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="Description" content="evenementen met een luidruchtig karakter in de open lucht">
<meta name="Author" content="Peter">
<link rel="icon" href="favicon.ico">
<meta name="Keywords" content="geluidsoverlast, herrie, dB(c), decibel, festival, evenement, LFN, LFG, bas, bastonen, vergunning, gevelnorm, bezwaar" />


<title>Lager Toontje</title>

<!-- Bootstrap core CSS -->
<link href="./assets/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./css/lagertoontje.css" rel="stylesheet">

<script src="./assets/ie-emulation-modes-warning.js"></script>
