<div class="sidebar-module sidebar-module-inset">
    <h4>over Lager Toontje</h4>
    <p>Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen alle gestelde geluidsnormen blijft? <br>
    Lager Toontje legt het uit.</p>
    <p><img class="img-responsive" src="img/lagertoontje.png" alt="logo"></p>
</div>
<div class="sidebar-module">
    <h4>Referenties</h4>
    <ul>
      <li><a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">Nota Evenementen met een luidruchtig karakter</a></li>
      <li><a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank">Factsheet laag Frequent geluid (RIVM)</a></li>
      <li><a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank">Richtlijn laag Frequent geluid (NSG)</a></li>


    </ul>
</div>
<div class="sidebar-module">
    <h4>Delen</h4>
    <ul class="list-unstyled">
        <li>
 			<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="LagerToontje.nl" data-size="large">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</li>
		<li>
			<a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @LagerToontje</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		</li>

		<li>
			<div>
				<script>
				  (function() {
				    var cx = '007090113721143447481:kzf0jvsjrsu';
				    var gcse = document.createElement('script');
				    gcse.type = 'text/javascript';
				    gcse.async = true;
				    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				        '//cse.google.com/cse.js?cx=' + cx;
				    var s = document.getElementsByTagName('script')[0];
				    s.parentNode.insertBefore(gcse, s);
				  })();
				</script>
				<gcse:search>Zoek</gcse:search>
			</div>
		</li>

    </ul>
</div>
