<div class="sidebar-module sidebar-module-inset">
    <h4>over Lager Toontje</h4>
    <p>Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen alle gestelde geluidsnormen blijft? <br>
    Lager Toontje legt het uit.</p>
    <p><img class="img-responsive" src="img/lagertoontje.png" alt="logo"></p>
</div>
<div class="sidebar-module">
    <h4>Referenties</h4>
    <ul>
      <li><a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">Nota Evenementen met een luidruchtig karakter</a></li>
      <li><a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank">Factsheet laag Frequent geluid (RIVM)</a></li>
      <li><a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank">Richtlijn laag Frequent geluid (NSG)</a></li>

    </ul>
</div>

