<div class="sidebar-module sidebar-module-inset">

    <ul class="list-unstyled">
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="Lager Toontje zet zich in voor #basbewustbeleid"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>

    <li>
        <a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-share-button" data-href="http://lagertoontje.nl" data-layout="button"></div>
    </li>
    <li>
      {{> signbutton }}
    </li>
    </ul>


    <h4 id="goudendecibel">Gouden Decibel 2016</h4>
    <p>Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen alle gestelde geluidsnormen blijft? <br>
    Lager Toontje zocht het uit, en is daarvoor genomineerd voor de Gouden Decibel 2016.<br>
    U bepaalt mede wie deze bokaal, en daarmee de nodige aandacht in de media krijgt. Stemt u op op LagerToontje voor een basbewuster landelijk evenementenbeleid?<br>
    Dat kan van maandag 17 oktober t/m 31 okt op <a href="http://www.goudendecibel.nl/inzendingen-en-genomineerden-2016/" target="_new" onclick="ga('send', 'event', 'click', this.href);">www.GoudenDecibel.nl</a>     </p>
    <p><img class="img-responsive" src="img/banner_genomineerd_gouden decibel_2016.png" alt="logo"></p>
</div>
<div class="sidebar-module">
    <h4>Juridisch adviseur</h4>
    <img class="evidenticon" title="Evident Advocatuur" alt="Evident Advocatuur" src="img/evident.svg">
        <a href="http://www.evidentadvocatuur.nl/" target="_blank" onclick="ga('send', 'event', 'click', this.href);">LagerToontje beveelt "Evident Advocatuur" aan bij bestuursrecht zaken</a>
    <h4>Nu relevant</h4>
    <ul>
      <li>
        <a href="./docs/160428_initiatiefvoorstel_duurzame_festivals.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Initiatiefvoorstel D66</a>
      </li>
      <li>
        <a href="./docs/RapportOnderzoekBasverhoudingEvenementenAmsterdam-2015.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport Bastonen</a>
      </li>

    </ul>
</div>


