<div class="sidebar-module sidebar-module-inset">

    <ul class="list-unstyled">
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="Lager Toontje zet zich in voor #basbewustbeleid"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>

    <li>
        <a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-share-button" data-href="http://lagertoontje.nl" data-layout="button"></div>
    </li>
    <li>
        {{> signbutton }}
    </li>

    </ul>


    <h4>over Lager Toontje</h4>
    <p>Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen alle gestelde geluidsnormen blijft? <br>
    Lager Toontje legt het uit.</p>
    <p><img class="img-responsive" src="img/lagertoontje.png" alt="logo"></p>
</div>
<div class="sidebar-module">
    <h4>Referenties</h4>
    <ul>
      <li>
        <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Nota Evenementen met een luidruchtig karakter</a>
      </li>
      <li>
        <a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">Factsheet laag Frequent geluid (RIVM)</a>
      </li>
      <li>
        <a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank" onclick= onclick="ga('send', 'event', 'download', this.href);">Richtlijn laag Frequent geluid (NSG)</a>
      </li>

    </ul>
</div>


