<div class="sidebar-module sidebar-module-inset">
    <h4>over Lager Toontje</h4>
    <p>Volledig verrast in 2012 door een dancefeest op 180 meter van mijn gevel, en zinloos protest hiertegen in 2013 en 2015, heb ik onderzoek gedaan. Ik wil kunnen verklaren waarom een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen de geluidsnormen blijft. <br> Lager Toontje legt het uit.</p>
    <p><img class="img-responsive" src="img/lagertoontje.png" alt="logo"></p>
</div>
<div class="sidebar-module">
    <h4>Links</h4>
    <ol class="list-unstyled">
      <li><a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">Nota Evenementen met een luidruchtig karakter</a></li>
    </ol>
</div>
<div class="sidebar-module">
    <h4>Delen</h4>
    <ol class="list-unstyled">
        <li><a href="https://twitter.com/LagerToontje" target="_blank">Twitter</a></li>
    </ol>
</div>
