<div class="sidebar-module sidebar-module-inset">

    <ul class="list-unstyled">
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="Lager Toontje zet zich in voor #basbewustbeleid"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>

    <li>
        <a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
<!--     <li>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-share-button" data-href="http://lagertoontje.nl" data-layout="button"></div>
    </li>
 -->    
 </ul>
 Lager Toontje zet zich in voor een basbewust evenementenbeleid.

</div>
<div class="sidebar-module">
    <h4>Juridisch adviseur</h4>
    <img class="evidenticon" title="Evident Advocatuur" alt="Evident Advocatuur" src="img/evident.svg">
        <a href="http://www.evidentadvocatuur.nl/" target="_blank" onclick="ga('send', 'event', 'click', this.href);">LagerToontje beveelt "Evident Advocatuur" aan bij bestuursrecht zaken</a>
    {{!-- <h4>Nu relevant</h4>
    <ul>
      <li>
        <a href="./amsterdamsbeleid">Nieuw Amsterdams Beleid bekeken</a>
      </li>
      <li>
        <a href="https://www.amsterdam.nl/bestuur-organisatie/volg-beleid/inspraak/evenementenbeleid/" target="_blank">Inspraak Amsterdams Geluidsbeleid</a>
      </li>

    </ul> --}}
</div>


