<div class="sidebar-module sidebar-module-inset">

    <ul class="list-unstyled">
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.lagertoontje.nl" data-text="Lager Toontje zet zich in voor #basbewustbeleid"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>

    <li>
        <a href="https://twitter.com/LagerToontje" class="twitter-follow-button" data-show-count="false"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    </ul>


    <p>Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen alle gestelde geluidsnormen blijft? <br>
    Lager Toontje zocht het uit.
</div>
<div class="sidebar-module">
    <h4>Juridisch adviseur</h4>
    <img class="evidenticon" title="Evident Advocatuur" alt="Evident Advocatuur" src="img/evident.svg">
        <a href="http://www.evidentadvocatuur.nl/" target="_blank" onclick="ga('send', 'event', 'click', this.href);">"Evident Advocatuur" heeft ervaring met geluidszaken</a>
</div>


