<div id="tl-accordion">
    <h2 id="duldbaar">Wat is nog duldbaar te noemen?</h2><div>
        twintig jaar geleden is door de inspectie Milieuhygiëne Limburg onderkent dat gemeenten moeite hadden met het formuleren van hun beleid, met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is toen de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt door veel gemeenten tot vandaag gebruikt als leiddraad in het vergunningproces.<br>

        Ik zal hieraan refereren als <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">nota EMELK</a>. <br>

        Geluidswaardes binnen de woning van 45-50 dB(a) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd. 

        Over binnenshuis stoorgeluid van 50 dB(a) schreef men het volgende: 
        <blockquote>"Dit zou betekenen dat men (voor het gehoor) dubbel zo luid zou moeten spreken om nog goed verstaanbaar te zijn, en minimaal het spraakniveau naar 53 dB(A) zou moeten verhogen (fysisch een verdubbeling) om nog net verstaanbaar te zijn.<br>

        Dit is zo'n ernstige aantasting van de persoonlijke levenssfeer, dat hier de grens zou moeten liggen van wat in redelijkheid van een omwonende gevraagd kan worden te accepteren, en wat daarom kan worden gezien als de grens waarboven een geluid als "onduldbaar" kan worden gekwalificeerd."</blockquote>

        <a href="./NotaEMELK.html" target="_blank">Is dit anno 2015 nog adequaat?</a>
    </div>

    <h2 id="meten">Wat wordt er gemeten? Waar wordt er gemeten?</h2><div>
        <h3>dB(a)</h3>
        <p>Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de gevoeligheid geleidelijk af.<br>
        Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol spelen. <br>
        Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder goed kunnen horen, en dat vindt men niet eerlijk. Daarom wordt er bij evenementen gewerkt met een filter, de A-weging.<br>Normering is dus in ieder geval in <a href="https://nl.wikipedia.org/wiki/DB(A)" target="_blank">dB(a)</a> </p>
        <img  class="img-responsive" src="./img/AWeging.png"></img>
        <legend >De schaal is logaritmisch.</legend>
        <p>Hoe hoger de toon, hoe minder correctie. Bij 1000 Hz is de correctie nul.<br>
        In de toonregeling mag een evenement tonen van 100Hz 20 decibel harder klinken.
        <audio controls="controls" src="./audio/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio><legend>een toon van 100Hz</legend>
        </p>

        <h4>Waar wordt gemeten?</h4>
        <p>Met een toelaatbare waarde van 50 dB(a) binnenshuis en een gemiddelde demping door de gevels van 20 decibel of 25 dB voor nieuwere woningen, staat de gevelnorm op 70 dB(a), nieuwbouw 75 dB(a)<br>
        Er wordt, in een ideale situatie, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 5 minuten. (LAeq)
        </p>

        <p>Volstaat dit? Waar het gaat om voorkoming van geluidsoverlast van evenementen zonder excesieve basverhouding, is de gevelmeting een heel goed middel om bewoners te beschermen tegen onduldbare geluidsniveaus binnenshuis.<br>
        In de praktijk wordt vaak een andere methode gebruikt... <br>
        Een festival laat vooraf onderzoeken door een gespecialiseerd buro, hoeveel decibels zij bij het podium kan uitstoten om de gevelnorm te respecteren. In de vergunning staat meestal de podiumnorm, deze wordt in de regel gemeten op 25 meter voor het podium. Dat meetpunt wordt aangeduidt als "Front of House", kortweg FOH.
        </p>

        <a href="./bezwaarFOHmeting.html" target="_blank">Is meten bij het podium bezwaarlijk?</a><br>

    </div>

    <h2 id="posiummeting">Volstaat meten bij het podium?</h2><div>
        <p>    Nou nee dus </p>
    </div>

    <h2 id="dbcnormen">Waarom zijn er andere normen voor lage tonen?</h2>  <div>
        <p>
        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
        mauris vel est.
        </p>
    </div>

    <h2 id="dbcnormen">Dragen bastonen verder?</h2><div>
        <p>Bastonen dragen ver. Olifanten communiceren met elkaar in LFG, dat kan over kilometers afstand.<a href="http://www.birds.cornell.edu/brp/elephant/cyclotis/language/infrasound.html" target="_blank">How far do infrasonic elephant calls travel?</a></p>
        <p>De reden hiervoor heeft te maken met wat er tussen de speakers en de toehoorders zit. Lucht bestaat uit moleculen, geluid is het bewegen van deze moleculen en beweging kost energie. De demping van een golf door het materiaal waar de golf doorheen gaat, hangt af van de frequentie. Dat kan de buitenlucht zijn, zoals in de grafiek hieronder, maar dit gaat ook op voor de gevels rond evenementen.
        </p>
        <img  class="img-responsive" src="./img/SoundAbsorptionCoefficient.png"></img>
        <p>De gekleurde lijnen geven verschillende luchtvochtigheden, maar bij alle varianten is te zien: Hoe lager de toon, hoe minder demping.</p>
    </div>
</div> <!-- Accordion -->
