<div id="tl-accordion">Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen de
  gestelde geluidsnormen blijft? </p>
  <p>Lager Toontje legt het uit.</p>
  <h2 id="dBAdBC">
    <span class="poundingvolume"></span>Wat is dB(A), wat is dB(C)?</h2>
  <div>

    <h3>dB(A)</h3>
    <p>Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de
      gevoeligheid geleidelijk af.
      <br> Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol
      spelen. Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder
      goed kunnen horen, en dat vindt men niet eerlijk. Het karakter van Dance-, House-, Trance- of Hardcore-festivals zou
      verdwijnen als de bas grootdeels zou worden weggefilterd.
      <br> Daarom wordt er bij evenementen gewerkt met een filter dat de meting corrigeert op de beperking van het menselijk
      oor; de A-weging.
      <br> Beperking van de geluidsuitstoot is dus in ieder geval gevat in een norm in
      <a href="https://nl.wikipedia.org/wiki/dB(A)"
        target="_blank">dB(A)</a>
    </p>
    <img class="img-responsive tl-imageright" width="300px" height="auto" src="./img/AWeging.png"></img>
    <p>Hoe hoger de toon, hoe minder correctie. De schaal is niet lineair, dus voor het merendeel van het geluidsspectrum geldt
      geen correctie.
      <br> In de toonregeling van een evenement mogen tonen van 100Hz ongeveer 20 decibel harder klinken dan tonen hoger dan
      1000Hz. De decibelschaal is ook niet lineair maar logaritmisch; Een verdubbeling van de energie resulteert in een
      <a
        href="https://nl.wikipedia.org/wiki/Logaritmische_schaal" target="_blank">toename van 3 decibel</a>. Een verhoging met 20 dB vraagt ruim 6 maal zoveel energie. Toch neemt het menselijk oor
      op deze frequentie de 20 dB verhoging ongeveer even hard waar als de hogere tonen in het geluid.</p>
    <audio controls="controls" src="./media/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio>
    <legend>Een toon van 100Hz</legend>


    <h3>dB(C)</h3>
    <p>Simpel gezegd, dat is meten zonder deze correctie. De fysieke geluidsdruk wordt gemeten, en de hoeveelheid bas in de
      mix heeft grotere invloed op de totale meetwaarde.
    </p>

    <p>Er wordt onderkend dat er tegenwoordig in verhouding meer basgeluid nodig is om aan het karakter van bepaalde muzieksoorten
      recht te doen. Tot 2017 werden geluidsnormen meestal aangegeven met dB(A)-waarden. Verschillende gemeenten experimenteren
      met het opleggen van een norm in dB(C), maar men was zoekende.
      <br> Wanneer er in verhouding veel bas in het geluid gemixt wordt heeft dat relatief weinig invloed op het totale volume,
      maar veel invloed op de overlast.
      <br> Vanaf 2017 werd in Amsterdam geexperimenteerd met normering in dB(C), en vanaf 2018 is mede door initiatieven als
      LagerToontje vastgelegd in het beleid dat normen van buitenfestivals in dB(C) worden uitgedrukt.
    </p>

    <h3>Het verschil tussen dB(C) en dB(A).</h3>
    <p>Het verschil tussen aantal decibels gemeten in dB(C) en gemeten in dB(A), is een goede indicatie voor het aandeel van
      de zware bassen in het totale volume. Wij spreken van de
      <strong>basverhouding</strong>. Stedelijk beleid is dat dit verschil nooit boven 15 dB mag komen. Dus, een geluidsnorm van
      100 dB(A) zou hand in hand gaan met 115 dB(C). Deze begrenzing geeft gemeenten in zekere mate een middel ter regulering
      in handen.
      <br>
      <a href="./demping.html">Lees meer over het gedrag van lage tonen op grotere afstand.</a>
    </p>

  </div>

  <h2 id="duldbaar">
    <span class="poundingvolume"></span>Wat is volgens beleidsmakers nog duldbaar?</h2>
  <div>
    <p>Al twintig jaar is de spraakverstaanbaarheid leidend in de afweging wat nog duldbaar te noemen is, en wat niet meer duldbaar
      wordt geacht.
      <a href="./duldbaar.html">Hoe dat tot stand is gekomen lees je hier</a>
    </p>

    <p>Men gaat uit van spraakverstaanbaarheid, om af te wegen of bepaalde volumes vergund kunnen worden.</p>

    <p>Er is een landelijke trend om de bastonen meer te betrekken in het evenementenbeleid, helaas wordt daarbij niet altijd
      verder gekeken dan de spraakverstaanbaarheid. Amsterdam heeft in zijn nieuwe
      <a href="./docs/beleidregel_geluid_bij_evenementen_-_maart_2018.pdf"
        target="_blank" onclick="ga('send', 'event', 'download', this.href);">beleidsregel</a> (ingaand begin 2018) gesteld dat met 85 dB(C) op de gevel de spraakverstaanbaarheid is gewaarborgd.
      Of dat werkelijk zo is valt nog te bezien.
      <a href="./02spraakverstaanbaarheid.html">Is spraakverstaanbaarheid binnenshuis is de enige overlastmaat?</a>
    </p>
  </div>

  <h2 id="spectra">
    <span class="poundingvolume"></span>Hoe zwaar is het geluid</h2>
  <div>

    <p>Het verschil tussen dB(C) en dB(A) is eerder uitgelegd. Als het geluid veel bas bevat is het wijs om te meten in dB(C).
      Maar het maakt wel uit wat voor geluid er van het podium komt. Een singer-songwriter geeft een heel ander geluid dan
      een hiphop-festival. Een indicatie van de zwaarte van het geluid is het verschil tussen gelijktijdige dB(C) en dB(A)
      meting. De NSG heeft in 2015 met de
      <a href="./docs/nsg-richtlijn_muziekspectra.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">richtlijn spectra</a> 5 categorien onderkend.
      <br> Sinds 2015 zijn de technieken alweer vernieuwd, en is voor een gewoon pop-optreden de kwalificatie House nog niet
      afdoende, en gaan de hardcore festivals voorbij de ultrabass.
    </p>

  </div>

  <h2 id="meten">
    <span class="poundingvolume"></span>Waar wordt er gemeten?</h2>
  <div>

    <p>Er wordt,
      <strong>in een ideale situatie</strong>, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de
      waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 3 of 5 minuten en men meet bij de meest belaste
      gevel.
    </p>
    <a href="./05refractie.html">De dichtsbijzijnde gevel is niet altijd de meest belaste gevel</a>

    <p>Hier nog iets over sjoemeldecibels
      <p>

  </div>

  <h2 id="stellingname">
    <span class="poundingvolume"></span>Stellingname</h2>
  <div>
    <p>Gekeken naar de voorgaande feiten en beweringen moet worden geconstateerd dat het voorkomen van onduldbare overlast in
      de woningen rondom een modern buitenfestival -met de huidige beheersingsmaatregelen- onmogelijk is.</p>

    <p>Lager Toontje realiseert zich heel goed dat gevelnorm in dB(C) in de praktijk lastig is:</p>
    TODO vertellen waarom
    <p>In de praktijk kan het nodig zijn de festivals verder uit de bebouwde kom te plaatsen, zonder verruiming van de geluidsnormen.</p>


    <p>De NSG onderschrijft deze stellingame. Meer over hun werk om te komen tot een richtlijn met betrekking tot Evenementen
      waarbij muziekgeluid ten gehore wordt gebracht, is te vinden op de website van de
      <a href="http://nsg.nl/">NSG</a>.

    </p>

  </div>

</div>
<!-- Accordion -->