<div id="tl-accordion">

    <h2 id="decibel"><span class="poundingvolume"></span>Geluid. Wat is een decibel?</h2>
    <div>{{> chapterdecibel }}</div>

    <h2 id="dBAdBC"><span class="poundingvolume"></span>Wat is dB(A), wat is dB(C)?</h2>
    <div>{{> chapterdBAdBC }}</div>

    <h2 id="duldbaar"><span class="poundingvolume"></span>Wat is volgens beleidsmakers nog duldbaar?</h2>
    <div>{{> chapterduldbaar }}</div>

    <h2 id="meten"><span class="poundingvolume"></span>Waar wordt er gemeten?</h2>
        <div>{{> chaptermeten }}</div>


    <h2 id="factoren"><span class="poundingvolume"></span><b>Kernvraag:</b>&nbsp; maakt meten in dB(C) alle overlast duldbaar?</h2>
        <div>{{> chapterfactoren }}</div>

    <h2 id="stellingname"><span class="poundingvolume"></span>Stellingname</h2>
        <div>{{> chapterstellingname }}</div>

</div> <!-- Accordion -->
