<div id="tl-accordion">

    <h2 id="dBAdBC">Wat is dB(A), wat is dB(c)?</h2><div>

        <h3>dB(a)</h3>
        <p>Mensen hebben een beperkt gehoor. Niet alleen in de hoogte (hondenfluitjes), ook bij lage tonen onder 1000Hz neemt de gevoeligheid geleidelijk af.<br>
        Een standaard geluidsmeter zou alle geluid even zwaar wegen, ook de bastonen die in de muziekbeleving een grote rol spelen. <br>
        Het totale volume dat een festival mag voortbrengen zou beperkt worden door tonen die de omwonenden minder goed kunnen horen, en dat vindt men niet eerlijk.<br>
        Het karakter van Dance-, House-, Trance- of Hardcore-festivals zou verdwijnen als de bas grootdeels zou worden weggefilterd. <br>
        Daarom wordt er bij evenementen gewerkt met een filter dat de meting corrigeert op de beperking van het menselijk oor; de A-weging.<br>
        Normering is dus in ieder geval in <a href="https://nl.wikipedia.org/wiki/DB(A)" target="_blank">dB(a)</a> </p>
        <img  class="img-responsive" src="./img/AWeging.png"></img>
        <p>Hoe hoger de toon, hoe minder correctie. De schaal is niet linear, dus voor het merendeel van het geluidsspectrum geldt geen correctie.<br>
        In de toonregeling van een evenement mogen tonen van 100Hz ongeveer 20 decibel harder klinken dan tonen hoger dan 1000Hz. Dat is fysisch 7 maal harder, terwijl het menselijk oor het ongeveer even hard waarneemt als de hogere tonen in het geluid.</p>
        <audio controls="controls" src="./audio/sample100hz.mp3">je browser heeft geen audio ondersteuning</audio><legend>een toon van 100Hz</legend>


        <h3>dB(c)</h3>
        <p>Simpel gezegd, dat is meten zonder deze correctie. De fysieke geluidsdruk wordt gemeten, en de hoeveelheid bas in de mix heeft grotere invloed op de totale meetwaarde.
        </p>

        <p>Over het algemeen wordt in de metingen en de normen uitgegaan van een gemiddelde van bijvoorbeeld 5 minuten. Dat geldt voor metingen dB(a) maar indien er een dB(c) norm is, dan ook hiervoor. </p>

        <h3>Waarom ook dB(c)?</h3>
        <p>Er wordt onderkend dat er tegenwoordig in verhouding meer basgeluid nodig is om aan het karakter van bepaalde muzieksoorten recht te doen. Tot 2001 werden geluidsnormen uitsluitend aangegeven met dB(a)-waarden. De Nota Feesten in Balans II van de gemeente Groningen geeft goed aan waarom dB(c) in de zwaardere muzieksoorten geschikter is als hindermaat.
        </p>

        <p>De gemeenten die werken met een dB(c) geluidsnorm, tellen 15 decibel op bij de dB(a) norm, men gaat namelijk uit van een gemiddeld waarnemingsverschil van 15 dB.</p>

    </div>

    <h2 id="duldbaar">Wat is de geldende definitie van duldbaar?</h2><div>
        <p>Twintig jaar geleden is door de inspectie Milieuhygiëne Limburg onderkent dat gemeenten moeite hadden met het formuleren van hun beleid, met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is toen de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt door veel gemeenten tot vandaag gebruikt als leiddraad in het vergunningproces.</p>

        <p>Ik zal hieraan refereren als <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank">nota EMELK</a>. </p>

        <p>Geluidswaardes binnen de woning van 45-50 dB(a) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast als 'onduldbaar' beschouwd.</p>

        Over binnenshuis stoorgeluid van 50 dB(a) schreef men het volgende:
        <blockquote>"Dit zou betekenen dat men (voor het gehoor) dubbel zo luid zou moeten spreken om nog goed verstaanbaar te zijn, en minimaal het spraakniveau naar 53 dB(A) zou moeten verhogen (fysisch een verdubbeling) om nog net verstaanbaar te zijn.

        Dit is zo'n ernstige aantasting van de persoonlijke levenssfeer, dat hier de grens zou moeten liggen van wat in redelijkheid van een omwonende gevraagd kan worden te accepteren, en wat daarom kan worden gezien als de grens waarboven een geluid als "onduldbaar" kan worden gekwalificeerd."</blockquote>

        <p>Opgemerkt moet worden dat in 1996 nog geen evenementen bestonden waar de bastonen zo een groot aandeel hadden in de totale geluidsproductie. Tegenwoordig is hier wel oog voor. Het aandeel van bastonen in de geproduceerde decibellen kan uitgedrukt worden in dB(c) minus dB(a). </p>
        <br>
        Het waarnemingsverschil van 15 decibel tussen dB(c) en dB(a) is algemeen aanvaard, maar wordt nergens terugvertaald naar normering binnen de woning. <br>
        <strong>Lager Toontje durft het aan: In beginsel is een geluidsdruk van 65 dB(c) in de woning op argumenten van spraakverstaanbaarheid te kenmerken als 'onduldbaar'.</strong> <br>

        Het is dus goed mogelijk dat niet dB(a) maar de dB(c) meting binnenshuis de beperkende factor is voor toegestane geluidsproductie, wanneer de muziek relatief veel bastonen bevat. <br>

    </div>

    <h2 id="meten">Waar wordt er gemeten?</h2><div>

        <p>Met een toelaatbare waarde van 50 dB(a) binnenshuis en een gemiddelde demping door de gevels van 20 decibel of 25 dB voor nieuwere woningen, staat de gevelnorm op 70 dB(a), nieuwbouw 75 dB(a)<br>
        Er wordt, in een ideale situatie, tijdens het gehele festival aan de gevel gemeten, en er wordt ingegrepen zodra de waardes boven de norm uitkomen. Het gaat vaak om gemiddelde waardes per 5 minuten (LAeq), en men meet bij de dichtstbijzijnde gevel.
        </p>

        <p>Volstaat dit? Waar het gaat om voorkoming van geluidsoverlast van evenementen zonder excesieve basverhouding, is de gevelmeting een goed middel om bewoners te beschermen tegen onduldbare geluidsniveaus binnenshuis. Mocht er aan de gevel meer dan 70 dB(a) gemeten worden, dan moeten de schuiven naar beneden, en kan de bewoner weer slapen/tv kijken/converseren.<p>

        <p>In de praktijk wordt vaak een andere methode gebruikt... <br>
        Een festival laat vooraf onderzoeken door een gespecialiseerd buro, hoeveel decibels zij bij het podium kan uitstoten om de dB(a) gevelnorm te respecteren. In de vergunning staat meestal de podiumnorm, deze wordt in de regel gemeten op 25 meter voor het podium. Dat meetpunt wordt aangeduidt als "Front of House", kortweg FOH. Ter regulering van de bastonen, stelt men dat er 15 decibel meer dB(c) geproduceerd mag worden. Waar deze maat vandaan komt, welk onderzoek dit heeft aangegeven? Lager Toontje heeft het niet kunnen vinden. Maar iets is hier al beter dan niets.
        </p>

        <p>Op de vraag waarom er geen gevelmetingen in dB(c) wordt gedaan, worden in de regel door de normgevende instantie 2 redenen genoemd.
        <ul>
        <li>
Argument A:
Een goede gevelnorm voor dB(C) is moeilijk te berekenen omdat, anders dan voor de dB(A) het geluidsniveau niet redelijk lineair daalt naarmate de afstand tot de bron groter wordt. Met dB(C) is het dus minder goed te berekenen.
        </li>
        <li>
Argument B:
Op grote afstand worden stoorgeluiden steeds meer meegemeten. Omdat lage tonen niet heel goed door het oor worden waargenomen kan dit betekenen dat je bij een meting niet alleen het geluid afkomstig van het festival laat meewegen in wat je meet. De meting is namelijk een gemiddelde over een meetperiode van 5 minuten. Voorbeelden zijn bijvoorbeeld straatgeluiden, een aggregaat, ruisende blaadjes aan een boom. Dit soort geluiden nemen we vaak bewust niet meer waar tenzij we er specifiek op gaan letten. Dat doet een meetinstrument wel.
        </li>

        </p>


    </div>


    <h2 id="factoren">Onder welke omstandigheden voorkomt dit werkelijke overlast?</h2><div>
        <p>Werkelijke overlast wordt voorkomen als aan alle van de onderstaande voorwaarden wordt voldaan. Lees of dat in de praktijk het geval is.
        </p>
        <ul class="list-unstyled">

        <li><i id="dempingdbc"class="tl-checkmark checked"></i>
            <a href="./dempingdbc.html">dB(c) wordt door de atmosfeer evenveel gedempt als dB(a)</a>
        </li>

        <li><i id="spraakverstaanbaarheid"class="tl-checkmark checked"></i>
            <a href="./spraakverstaanbaarheid.html">Spraakverstaanbaarheid binnenshuis is de enige overlastmaat</a>
        </li>

        <li><i id="atmosfeer"class="tl-checkmark checked"></i>
            <a href="./atmosfeer.html">Atmosferische invloeden zijn van klein belang</a>
        </li>

        <li><i id="langtijdgemiddelde"class="tl-checkmark checked"></i>
            <a href="./langtijdgemiddelde.html">Langtijdsgemiddelde norm dB(c) werkt even goed als langtijdsgemiddelde dB(a)</a>
        </li>

        <li><i id="waarnemingsverschil15db"class="tl-checkmark checked"></i>
            <a href="./waarnemingsverschil15db.html">Waarnemingsverschil tussen dB(c) en dB(a) is altijd 15 dB</a>
        </li>

        <li><i id="refractie"class="tl-checkmark checked"></i>
            <a href="./refractie.html">De dichtsbijzijnde gevel is de meest belaste gevel</a>
        </li>

        <li><i id="akoestischonderzoek"class="tl-checkmark checked"></i>
            <a href="./akoestischonderzoek.html">Het akoestisch onderzoek klopt</a>
        </li>
        </ul>
    </div>


    <h2 id="stellingname">Stellingname</h2><div>
    <p>Gekeken naar de voorgaande feiten en beweringen, moet worden geconstateerd dat voorkoming van overlast in de woningen rondom een modern buitenfestival, met de huidige beheersingsmaatregelen onmogelijk is. </p>
    <p>
    Wij
        <ul><li>
            Omwonenden rond festival-locaties, op korte maar ook grotere afstand
        </li></ul>
    constateren
        <ul>
            <li>Dat de festivals in de open lucht meer en meer bastonen produceren</li>
            <li>Dat gemeenten nog steeds moeite hebben met het formuleren van normstelling</li>
            <li>Dat dB(c) soms een betere indicator van de hindermaat is</li>
            <li>Dat de in 1996 opgestelde definitie van 'onduldbare overlast' niet volledig is</li>
            <li>Dat hierdoor de huidige richtlijnen niet voldoen om onduldbare overlast te voorkomen</li>
        </ul>
    en verzoeken
        <ul>
            <li>Wij verzoeken om nieuwe regelgeving, die rekening houdt met het specifieke karakter van de bastonen.</li>
            <li>Wij willen een reëele dB(c) gevelnorm.</li>
            <li>Het niet kunnen garanderen van de dB(c) gevelnorm moet weigeringsgrond zijn voor een festivalvergunning</li>
            <li>Wij verzoeken de festivals verder uit de bebouwde kom te plaatsen, zonder verruiming van de geluidsnormen</li>
        </ul>

    </p>

    </div>


</div> <!-- Accordion -->
