    <div class="blog-masthead" id="#doctop">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="./index.html">Home</a>
                <span class="blog-nav-item">DEZE SITE IS NOG IN AANBOUW!</span>
<!--                 <a class="blog-nav-item" href="./lagertoontje.html">Technische uitleg</a>
                <a class="blog-nav-item" href="./lagertoontje.html">Pers</a>
 -->
            </nav>
        </div>
    </div>
