<div class="blog-masthead" id="#doctop">
    <div class="container">
        <nav class="blog-nav">
			<div class="tl-navheader">Lager Toontje: Over evenementen met een luidruchtig karakter in de open lucht</div>
			<hr class="tl-headline"/>
            <a class="blog-nav-item  {{#is title "home"}} active {{/is}}" href="./index.html">Home</a>
            <a class="blog-nav-item {{#is title "about"}} active {{/is}}" href="./about.html">Over Lager Toontje</a>
            <a class="blog-nav-item {{#is title "pers"}} active {{/is}}" href="./pers.html">Lage Tonen in de pers</a>
            <span class="blog-nav-item">DEZE SITE IS NOG IN AANBOUW!</span>
<!--                 <a class="blog-nav-item" href="./lagertoontje.html">Technische uitleg</a>
            <a class="blog-nav-item" href="./lagertoontje.html">Pers</a>
-->
        </nav>
    </div>
</div>
