<div class="tl-masthead" id="#doctop">
    <div class="container">
        <nav class="tl-nav">
			<div class="tl-navheader"><img src="img/lagertoontje.png"/>Lager Toontje: Over evenementen met een luidruchtig karakter anno 2016</div>
			<hr class="tl-headline"/>
            <a class="tl-nav-item  {{#is title "home"}} active {{/is}}" href="./index.html">Home</a>
            <a class="tl-nav-item {{#is title "about"}} active {{/is}}" href="./about.html">Over</a>
            <a class="tl-nav-item {{#is title "praat"}} active {{/is}}" href="./praat.html">Praat mee</a>
            <a class="tl-nav-item {{#is title "pers"}} active {{/is}}" href="./pers.html">Pers</a>
            <a class="tl-nav-item {{#is title "links"}} active {{/is}}" href="./links.html">Links</a>
            {{#is title "article"}}<a class="tl-nav-item active" href="">Artikel</a>{{/is}}

        </nav>
    </div>
</div>
<span class="tl-underconstruction">DEZE SITE IS BIJNA GEREED!</span>
