<div class="tl-masthead" id="#doctop">
    <div class="container">
        <nav class="tl-nav">
			<div class="tl-navheader">Lager Toontje: Over evenementen met een luidruchtig karakter anno 2016</div>
			<hr class="tl-headline"/>
            <a class="tl-nav-item  {{#is title "home"}} active {{/is}}" href="./index.html">Home</a>
            <a class="tl-nav-item {{#is title "about"}} active {{/is}}" href="./about.html">Over</a>
            <a class="tl-nav-item {{#is title "pers"}} active {{/is}}" href="./pers.html">Pers</a>
            {{#is title "article"}}<a class="tl-nav-item active" href="./pers.html">Artikel</a>{{/is}}
            <span class="tl-nav-item">DEZE SITE IS NOG IN AANBOUW!</span>
        </nav>
    </div>
</div>
