<div class="g-grid--row g-docs-menugrid">

    <div class="g-grid--span4">
        <ul class="g-docs-navtoggle">

            <li class="g-docs-navsection">

                <a tabindex="-1" class="g-docs-navlink g-docs-externallink" target="_blank" href="https://www9.klm.com/corporate/pse/confluence/display/CCWDKB/Quick+Reference+Cards+%28Responsive%29+Design" title="login needed">
                <span class='g-klmicon'>&#x1f511;</span>
                Quick Reference Cards (design files)
                </a>
            </li>
            <li class="g-docs-navsection">
                <a tabindex="-1" class="g-docs-navlink g-docs-externallink" target="_blank" href="https://www9.klm.com/corporate/pse/confluence/display/CCWDKB/Versions+on+subsystems" title="login needed">
                <span class='g-klmicon'>&#x1f511;</span>
                FrEAK versions on subsystems
                </a>
            </li>
            <li class="g-docs-navsection">
                <a tabindex="-1" class="g-docs-navlink g-docs-externallink" target="_blank" href="https://sonar.eden.klm.com/dashboard/index/com.klm.freak:freak-core" title="login needed">
                <span class='g-klmicon'>&#x1f511;</span>
                Sonar dashboard
                </a>
            </li>
            <li class="g-docs-navsection">
                <h3 class="g-docs-sectionheader">global</h3>
                <ul class="g-docs-navitem-wrapper">
                    {{#each (docsNav pages 'global')}}
                        {{> navmodule}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="g-grid--span4">
        <ul class="g-docs-navtoggle">

            <li class="g-docs-navsection">
                <h3 class="g-docs-sectionheader">v2</h3>
                <ul class="g-docs-navitem-wrapper">
                    {{#each (docsNav pages 'v2')}}
                        {{> navmodule}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="g-grid--span4">
        <ul class="g-docs-navtoggle">
            <li class="g-docs-navsection">
                <h3 class="g-docs-sectionheader">libs</h3>
                <ul class="g-docs-navitem-wrapper">
                    {{#each (docsNav pages 'libs')}}
                        {{> navmodule}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>
