
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

legend {
  font-weight: bold;
  font-size: 11px;
}

blockquote {
  font-size: 15px;
}

.tl-navheader {
  color: #cdddeb;
  padding: 5px 0 5px 10px;
  font-size: 16px;
}

hr.tl-headline {
  margin: 0;
}

#tl-accordion {
  border-top: 1px solid black;
}

#tl-accordion > h2,
#tl-accordion > div {
  border-style: solid;
  border-color: black;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  padding: 5px;
}

#tl-accordion > h2 {
  font-size: 16px;
  line-height: 2;
  background-color: #ddd;
  padding-left: 20px;
}

#tl-accordion > h2::before {
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: '';
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  left: -10px;
  top: 10px;
  transform: rotate(45deg);
  vertical-align: top;
}
#tl-accordion > h2.tl-open:before {
  transform: rotate(135deg);
  transition: 0.5s ease-in-out;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



.tl-masthead {
  background-color: #3b5998;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.tl-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.tl-nav-item:hover,
.tl-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.tl-nav .active {
  color: #fff;
}
.tl-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.tl-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tl-title {
  font-size: 22px;
  font-weight: normal;
}
.tl-description {
  font-size: 18px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.tl-main {
  font-size: 14px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/*
 * Blog posts
 */

.tl-post {
  margin-bottom: 60px;
}
.tl-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.tl-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.tl-footer {
  margin-top: 10px;
  padding-top: 10px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 2px solid #e5e5e5;
}
.tl-footer p:last-child {
  margin-bottom: 0;
}


[class*=icono-], [class*=icono-] * {
    box-sizing: border-box;
}
[class*=icono-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #F00;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}
.icono-cross, .icono-crossCircle {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
[class*=icono-cross], [class*=icono-plus] {
    width: 30px;
    height: 30px;
    margin: 2px;
}

[class*=icono-]:after, [class*=icono-]:before {
    content: '';
    pointer-events: none;
}
[class*=icono-check]:before, [class*=icono-cross]:before, [class*=icono-plus]:before {
    width: 20px;
    height: 2px;
}
[class*=icono-cross]:after, [class*=icono-plus]:after {
    height: 20px;
    width: 2px;
}
[class*=icono-check]:before, [class*=icono-cross]:after, [class*=icono-cross]:before {
    box-shadow: inset 0 0 0 32px;
}
[class*=icono-check]:before, [class*=icono-cross]:after, [class*=icono-cross]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.tl-checkmark, .tl-checkmark * {
    box-sizing: border-box;
}
.tl-checkmark {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #F00;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    margin: 2px;
}

.tl-checkmark:after, .tl-checkmark:before {
    content: '';
    pointer-events: none;
}

.tl-checkmark:before {
    width: 20px;
    height: 2px;
}
.tl-checkmark:after {
    height: 20px;
    width: 2px;
}
.tl-checkmark:after, .tl-checkmark:before {
    box-shadow: inset 0 0 0 32px;
}
.tl-checkmark:after, .tl-checkmark:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
