
body {
  font-family: Arial, Helvetica, sans-serif;;
  color: #444;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

legend {
  font-weight: bold;
  font-size: 11px;
}

blockquote {
  font-size: 15px;
}

.tl-main {
  font-size: 14px;
  line-height: 1.5;
}


.tl-strong {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.8;
}

.tl-main .tl-img img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
.tl-main .tl-img img:focus {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}

.tl-navheader {
  color: #cdddeb;
  padding: 5px 0 5px 0;
  font-size: 16px;
}

.tl-navheader img {
  padding-right: 10px;
  height: 45px;
  width: auto;
}

hr.tl-headline {
  margin: 0;
}

#tl-accordion {
  border-top: 1px solid black;
}

#tl-accordion > h2,
#tl-accordion > div {
  border-style: solid;
  border-color: black;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  padding: 5px;
}

#tl-accordion > h2 {
  font-size: 16px;
  line-height: 2;
  background-color: #ddd;
  padding-left: 5px;
}

/*#tl-accordion > h2::before {
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: '';
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  left: -10px;
  top: 10px;
  transform: rotate(45deg);
  vertical-align: top;
}
#tl-accordion > h2.tl-open:before {
  transform: rotate(135deg);
  transition: 0.5s ease-in-out;
}
*/
.gsc-control-cse {
  padding: 0 !important;
}

.evidenticon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  float: left;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.tl-masthead {
  background-color: #3b5998;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.tl-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.tl-nav-item:hover,
.tl-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.tl-nav .active {
  color: #fff;
}
.tl-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.tl-header {
  padding-top: 15px;
  padding-bottom: 10px;
}
.tl-title {
  font-size: 22px;
  font-weight: normal;
}
.tl-description {
  font-size: 18px;
  color: #999;
}

.tl-quote {
  font-style: italic;
}

.tl-imageright {
    float: right;
    margin: 0 0 10px 10px;
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module li {
  margin-bottom: 6px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


.tl-underconstruction {
  color: red;
}

/*
 * Blog posts
 */

.tl-post {
  margin-bottom: 60px;
}
.tl-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.tl-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.tl-petitie {
  background: #EA1212;
  border-radius: 4px;
  padding: 4px 6px;
  color: white;
  top: 8px;
  position: relative;
  font-size: 12px;
}

a.tl-petitie:focus, a.tl-petitie:hover {
  color: white;
  text-decoration: none;
   background: #DA1010;
}

.tl-footer .tl-petitie {
  position: initial;
}

.tl-sidebar h4 {
  margin-top: 20px;
}

/*
 * Footer
 */

.tl-footer {
  margin-top: 10px;
  padding-top: 10px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 2px solid #e5e5e5;
}
.tl-footer p:last-child {
  margin-bottom: 0;
}


.tl-factor {
  background-color: #EEE;
  margin: 15px;
  padding: 10px;
  border: solid 1px  #3b5998;
  border-radius: 5px;
}


.tl-checkmark {
    box-sizing: border-box;
}
.tl-checkmark {
    transition: all .6s ease;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    margin: 2px;
}

.tl-checkmark:after, .tl-checkmark:before {
    transition: all .6s ease;
    content: '';
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: inset 0 0 0 32px;
}

.tl-checkmark:before {
    width: 20px;
    height: 3px;
    color: #F00;
}
.tl-checkmark:after {
    height: 20px;
    width: 3px;
    color: #F00;
}

.checked.tl-checkmark:before {
    transition: all .6s;
    color: #0C0;
    width: 12px;
    left: 40%;
    top: 70%;
    -webkit-transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    transform: translate(-30%,-50%);
}
.checked.tl-checkmark:after {
    transition: all .6s;
    color: #0C0;
    height: 20px;
    left: 70%;
    top: 40%;
}

span.tl-icon {
    line-height: 100%;
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    float: left;
}

span.poundingvolume {
    color: black;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    margin: 4px 20px 4px 5px;

    width: 0;
    height: 0;
    border: 5px solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 6px 3px;
    box-shadow: inset 6px 0;

}

.tl-open span.poundingvolume:before, 
.tl-open span.poundingvolume:after, 
#tl-accordion > h2:hover .poundingvolume:before, 
#tl-accordion > h2:hover .poundingvolume:after {
    content: '';
    pointer-events: none;
    border-width: 2px;
    left: -2px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    animation: pound 1s infinite;
}

.tl-open span.poundingvolume:after, 
#tl-accordion > h2:hover .poundingvolume:after {
    border-style: solid;
}

.tl-open span.poundingvolume:before, 
#tl-accordion > h2:hover .poundingvolume:before {
    border-style: double;
    animation: pound 1s infinite;
    -webkit-animation-delay: .4s; /* Chrome, Safari, Opera */
    animation-delay: .4s;
}

@keyframes pound {
    from { border-width: 2px; left: 0; height: 15px; border-right-color: transparent; }
    20% { border-right-color: black; }
    98% { border-right-color: transparent; }
    to { border-width: 4px; left: 11px; height: 25px; border-right-color: transparent; }
}