---
title: about
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Over Lager Toontje</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Lager Toontje</h1>
	        <p class="lead tl-description">Hoe is het mogelijk, dat een festival in de praktijk leidt tot onduldbare overlast en veel klachten, maar toch binnen de gestelde geluidsnormen blijft? </p>
			<p>Lager Toontje legt het uit.</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
<p>Volledig verrast en verbaasd in 2012 door de geluidsoverlast van een dancefeest op 200 meter van mijn gevel, en zinloos protest hiertegen in volgende jaren, ben ik begonnen aan dit onderzoek. </p>

<p>Op iedere nieuwe aankondiging van een aangevraagde vergunning heb ik actie ondernomen zoals de overheid dat de burger voorschrijft: indienen van een zienswijze, bij vergunningverlening een bezwaarschrift maken, inspreken, voorzieningerechter, hoorcomissies, beroep tegen beslissing etc.. Hoe vervelend alle ambtenaren het ook voor mij en mijn buren vinden, het lukt ze maar niet om gronden te vinden een vergunning te weigeren. Zolang de organisator maar belooft de gevelnorm te respecteren mag een festival op ieders stoep of aan iedere slootkant gehouden worden. Dat er toch klachten op binnenkomen is dan moelijk uit te leggen. De uitleg die de festivalbranche ons opdringt (klagers zijn intolerant) doet geen recht aan de werkelijk ervaren overlast.
<br>
Lees de <a href="ReactiesPetitieNDSM.html" target="_blank">reacties</a> van inwoners van Noord n.a.v. een oproep tegen geluidsoverlast van het NDSM-terrein. 
 </p>

<p>Lager Toontje is een initiatief om middels informatie en natuurkunde tot een betere verklaring te komen van de weerstand die wordt ervaren als men festivals met een luidruchtig karakter, in- of naast een woonwijk houdt. Het is de wens dat gemeenten stappen zetten richting een basbewust geluidsbeleid.</p>

<p>Lager Toontje is niet tegen festivals, maar wel tegen het houden van een luidruchtig festival op een plek waar dat eigenlijk niet kan.</p>

<p>LagerToontje tweet en retweet alle signalen dat het huidige geluidsbeleid niet klopt. Een overzicht van de tweets van 2016 vind je <a href="twitter2016.html" target="_blank">hier</a>.
 </p>

	        </div><!-- /.tl-main -->

	    </div> <!-- class="row" -->



	    <div class="row">

	        <div class="col-sm-12 tl-main">
			    <h4>Referenties</h4>
			    <ul>
			      <li>
			        <a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Nota Evenementen met een luidruchtig karakter</a>
			      </li>
			      <li>
			        <a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">Factsheet laag Frequent geluid (RIVM)</a>
			      </li>
			      <li>
			        <a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank" onclick= onclick="ga('send', 'event', 'download', this.href);">Richtlijn laag Frequent geluid (NSG)</a>
			      </li>
			      <li>
			        <a href="./docs/handreikingindustrielawaaienvergunningverlening.pdf" target="_blank" onclick= onclick="ga('send', 'event', 'download', this.href);">Handreiking lawaai en vergunning</a>
			      </li>

			    </ul>

	        </div><!-- /.tl-main -->

	    </div> <!-- class="row" -->

	</section>

{{> footer}}

</body></html>
