--- title: amsterdamsbeleid ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Voorstel Amsterdams Geluidsbeleid</title>
	<meta property="og:description" content="Voorstel Amsterdams Geluidsbeleid." /> {{> head relativepath='../'}}

	<meta property="og:description" content="Voorstel Amsterdams Beleid" />

</head>

<body class="tl-body">
	{{> menu this}}


	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Voorstel Amsterdams Geluidsbeleid</h1>
			<p class="lead tl-description">Amsterdam formuleert op dit moment een nieuw geluidsbeleid dat dient als evenementenbeleid. De Inspraakronde is gewees. Het is nu aan de Raad of zij dit voorstel aanneemt, of niet.
			</p>
			<a href="https://www.amsterdam.nl/ondernemen/vergunningen/evenement/evenementenbeleid/" target="_blank">Website Gemeente met informatie over nieuw geluidsbeleid</a>
			</li>

		</div>

		<div class="row">
			De Documenten die het voorstel moeten onderbouwen:
			<ul>
				<li>
					<a href="./docsamsterdam/beleidsregel_geluidbeleid_bij_evenementen.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Beleidsregel</a>
				</li>
				<li>
					<a href="./docsamsterdam/locatieprofielen_juli_20171.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Locatieprofielen juli 2017</a>
				</li>
			</ul>
			De Documenten die niet ter inspraak lagen maar zeer relevant zijn:
			<ul>

				<li><a href="./docsamsterdam/samenvatting_rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Samenvatting rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_geluid_bij_evenementen.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport geluid bij evenementen</a></li>
			</ul>
		</div>

		<div class="row">
			Enkele reacties van de omwonenden:
			<ul>
				<li><a href="./zienswijzen/Volksinitiatief Basbewust beleid vs nieuw beleid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Visie vanuit Volksinitiatief Basbewust beleid</a></li>

				<li><a href="./zienswijzen/zienswijze_nieuw_evenementenbeleid_peterwelp.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Peter Welp</a></li>
			</ul>

		</div>

		<div class="row">
			Nota van beantwoording door Gemeente:
			<ul>
				<li><a href="./docsamsterdam/De_Nota_van_beantwoording_inspraak_Evenementengeluid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Beantwoording van inspraakreacties</a></li>

			</ul>

		</div>

	</section>
	{{> footer}}

</body>

</html>