--- title: amsterdamsbeleid ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Amsterdams Geluidsbeleid</title>
	<meta property="og:description" content="Amsterdams Geluidsbeleid." /> {{> head relativepath='../'}}

	<meta property="og:description" content="Amsterdams GeluidsBeleid" />

</head>

<body class="tl-body">
	{{> menu this}}


	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Amsterdams Geluidsbeleid</h1>
			<p class="lead tl-description">Op 14 februari 2018 heeft de Amsterdamse raad zijn zegen gegeven aan het nieuwe beleid. Helaas is er vrijwel niets gedaan met alle inspraak van omwonenden, het nieue beleid lijkt erop gericht evenementen van hetzelfde kaliber mogelijk te maken. Er zijn ook verbeteringen, maar de hardtste festivals hoeven maar weinig in te leveren. 
			</p>
			<a href="https://www.amsterdam.nl/ondernemen/vergunningen/evenement/evenementenbeleid/" target="_blank">Website Gemeente met informatie over nieuw geluidsbeleid</a><br>
			<a href="https://amsterdam.raadsinformatie.nl/vergadering/450908/RAAD%2014-02-2018" target="_blank">Bespreking Meteo Correctie rond 07:08</a><br>

		</div>

		<div class="row">
			De Documenten die het voorstel onderbouwen:
			<ul>
				<li>
					<a href="./docsamsterdam/geluidbeleid_voor_evenementen_in_amsterdam_-_beleidsregel.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Beleidsregel</a>
				</li>
				<li>
					<a href="./docsamsterdam/locatieprofielen_juli_20171.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Locatieprofielen juli 2017</a>
				</li>
			</ul>
			De Documenten die niet ter inspraak lagen maar zeer relevant zijn:
			<ul>

				<li><a href="./docsamsterdam/samenvatting_rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Samenvatting rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_geluid_bij_evenementen.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport geluid bij evenementen</a></li>
			</ul>
		</div>

		<div class="row">
			Enkele reacties van de omwonenden:
			<ul>

				<li><a href="./zienswijzen/Volksinitiatief Basbewust beleid vs nieuw beleid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Visie vanuit Volksinitiatief Basbewust beleid</a></li>

				<li><a href="./zienswijzen/zienswijze_nieuw_evenementenbeleid_peterwelp.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Peter Welp</a></li>

				<li><a href="https://www.oudestadt.nl/analyse-evenementenbeleid/" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Meer inspraak op deze pagina </a></li>

			</ul>

		</div>

		<div class="row">
			Nota van beantwoording door Gemeente:
			<ul>
				<li><a href="./docsamsterdam/De_Nota_van_beantwoording_inspraak_Evenementengeluid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Beantwoording van inspraakreacties</a></li>

			</ul>

		</div>

	</section>
	{{> footer}}

</body>

</html>