--- title: amsterdamsbeleid ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Amsterdams Geluidsbeleid</title>
	<meta property="og:description" content="Amsterdams Geluidsbeleid." /> {{> head relativepath='../'}}

	<meta property="og:description" content="Amsterdams GeluidsBeleid" />

</head>

<body class="tl-body">
	{{> menu this}}


	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Amsterdams Geluidsbeleid</h1>
			<p class="lead tl-description">Op 14 februari 2018 heeft de Amsterdamse raad zijn zegen gegeven aan het nieuwe beleid. Helaas is er vrijwel niets gedaan met alle inspraak van omwonenden, het nieuwe beleid lijkt erop gericht evenementen van hetzelfde kaliber mogelijk te maken. Er zijn ook verbeteringen, maar de hardste festivals hoeven maar weinig in te leveren. 
			</p>
			<a href="https://www.amsterdam.nl/ondernemen/vergunningen/evenement/evenementenbeleid/" target="_blank">Website Gemeente met informatie over nieuw geluidsbeleid</a><br>
			<a href="https://amsterdam.raadsinformatie.nl/vergadering/450908/RAAD%2014-02-2018" target="_blank">Videoverslag RaadsBespreking. Meteo Correctie rond 07:08</a><br>

		</div>

		<div class="row">
			De Gemeenteraadsverkiezingen komen eraan. Wat zeggen de partijen? <br>
			<ul>
				<li><h4>D66</h4>
Buitenfestivals: <br>
Festivals en evenementen horen bij Amsterdam. Het diverse, kwalitatieve festival- en evenementenaanbod is een internationale trekpleister en het levert veel banen, plezier en creativiteit op voor Amsterdammers. D66 wil dat er een zogeheten meerjarig locatieprofiel wordt opgesteld per park, plein of groengebied, in overleg met de lokale stadsdeelcommissies, buurtbewoners en deskundigen. Deskundigen op het gebied van bijvoorbeeld geluid en ecologie kunnen de feitelijke onderbouwing leveren voor locatieprofielen. Het locatieprofiel bestaat er wat D66 betreft uit of – en zo ja, hoe vaak – festivals in een bepaald park kunnen plaatsvinden, in welke periode en met een vastgesteld geluidsniveau. <br><br>
				</li>
				<li><h4>GroenLinks</h4>
Grote nieuwe publiekstrekkers die niet locatiegebonden zijn moeten in de stadsdelen buiten de ring A10 een plek vinden. We verlagen de festivaldruk op parken, en leggen een duurzaam festivalterrein aan. <br> <br>
				</li>
				<li><h4>SP</h4>
Niets <br><br>
				</li>
				<li><h4>VVD</h4>
Festivals en evenementen worden zo veel mogelijk in minder drukke gebieden georganiseerd. <br><br>
				</li>
				<li><h4>PvdOuderen</h4>
Niets	<br><br>			
				</li>
				<li><h4>PvdD</h4>
De gemeente stelt een evenementenplan op. Daarin wordt aangegeven hoe de natuur beschermd wordt, hoe omwonenden betrokken worden en wat de maximale geluidsnormen zijn, op zowel dB(A) als dB(C).
 	<br><br>
Grootschalige (muziek)evenementen worden bij voorkeur niet in parken, maar op pleinen of binnen georganiseerd, waarbij er zo min mogelijk overlast is voor omwonenden.
 	<br><br>
				</li>
				<li><h4>CDA</h4>
Wie luistert er naar de Amsterdammer?<br>
Actieplan geluidsoverlast Geluidsoverlast is een onacceptabele inbreuk op de leefbaarheid. Amsterdammers weten best dat ze niet op de hei wonen, maar hoeven niet te accepteren dat ze regelmatig worden blootgesteld aan hinderlijk lawaai. Wij staan voor strenge geluidsnormen voor festivals en een aanscherping van de normen voor ultra-lage bastonen. Bij overtreding moet snel en adequaat worden gehandhaafd. De stad moet ook het verbod op versterkte muziek op boten strenger handhaven. <br><br>
				</li>
				<li><h4>PvdA</h4>
Amsterdam is de festivalhoofdstad van Europa met veel mooie, unieke en eigenzinnige evenementen. We willen deze evenementen leuk houden voor zowel bezoekers als omwonenden. We willen daarom een beperking en een goede spreiding van het aantal festivallocaties. Waar mogelijk worden festivals gehouden aan de randen van de stad, zodat mensen er zo min mogelijk last van hebben. (Geluids)overlast van grote evenementen moet worden verminderd. We betrekken bewoners en ondernemers bij de besluitvorming.<br>
… <br>
Festivals horen bij een levendige stad maar er moet een maximum gelden, zeker voor festivals in onze parken. Er komt per park een vastgesteld maximum aantal toegestane evenementen. Het recreatief gebruik door bewoners, die tenslotte zelf vaak nauwelijks een buitenruimte bij hun woning hebben, heeft prioriteit. <br><br>
				</li>
			</ul>

			LagerToontje's stemadvies zou op papier dan CDA zijn. PvdD heeft in de Raad het felst gestreden voor afzwakking van het Amsterdamse beleid, met betrekking tot toegelaten geluid, en had met meer zetels meer kunnen bereiken. Maar doe geen moeite. Het beleid is reeds aangenomen, met meerderheid van de ondernemerscoalitie. Daar moeten we het de komende jaren mee doen.
			<br><br>

			De Documenten die niet ter inspraak lagen maar zeer relevant zijn:
			<ul>

				<li><a href="./docsamsterdam/samenvatting_rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Samenvatting rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_geluid_bij_evenementen.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport geluid bij evenementen</a></li>
			</ul>
		</div>




		<div class="row">
			De Documenten die het voorstel onderbouwen:
			<ul>
				<li>
					<a href="./docsamsterdam/geluidbeleid_voor_evenementen_in_amsterdam_-_beleidsregel.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Beleidsregel</a>
				</li>
				<li>
					<a href="./docsamsterdam/locatieprofielen_juli_20171.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Locatieprofielen juli 2017</a>
				</li>
			</ul>
			De Documenten die niet ter inspraak lagen maar zeer relevant zijn:
			<ul>

				<li><a href="./docsamsterdam/samenvatting_rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Samenvatting rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_onderzoek_geluid_evenementlocaties.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport onderzoek geluid evenementlocaties</a></li>
				<li><a href="./docsamsterdam/rapport_geluid_bij_evenementen.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Rapport geluid bij evenementen</a></li>
			</ul>
		</div>

		<div class="row">
			Enkele reacties van de omwonenden:
			<ul>

				<li><a href="./zienswijzen/Volksinitiatief Basbewust beleid vs nieuw beleid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Visie vanuit Volksinitiatief Basbewust beleid</a></li>

				<li><a href="./zienswijzen/zienswijze_nieuw_evenementenbeleid_peterwelp.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Peter Welp</a></li>

				<li><a href="https://www.oudestadt.nl/analyse-evenementenbeleid/" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Meer inspraak op deze pagina </a></li>

			</ul>

		</div>

		<div class="row">
			Nota van beantwoording door Gemeente:
			<ul>
				<li><a href="./docsamsterdam/De_Nota_van_beantwoording_inspraak_Evenementengeluid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Beantwoording van inspraakreacties</a></li>

			</ul>

		</div>

	</section>
	{{> footer}}

</body>

</html>