<html lang="nl">
<head>
    {{> head}}
</head>

  <body>
    {{> menu}}

	<section class="container">

	    <div class="blog-header">
	        <h1 class="blog-title">Lager Toontje</h1>
	        <p class="lead blog-description">Over evenementen met een luidruchtig karakter in de open lucht</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-12 blog-main">
{{> body}}
	        </div><!-- /.blog-main -->


	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
