---
title: article
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>{{factor}}</title>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}

	<section class="container">

{{> body}}


	</section>

{{> footer}}

</body></html>
