---
title: bezwaar
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>handleiding bezwaar maken</title>

    {{> head relativepath='../'}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Bezwaar</h1>
	        <p class="lead tl-description">Als burger heb je recht op bezwaar. De te volgen weg is echter ontmoedigend ingewikkeld.</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
<p>Op een avond trillen de kopjes in de kast of de ruiten in de sponningen. Niet spreekwoordelijk, letterlijk. Misschien is het minder evident maar is de dreun in je huis zo duidelijk aanwezig en voelbaar, dat je het (na enige uren) niet meer kunt negeren. De aanwezigheid van een festival dringt zich op voorbij wat je nog redelijk vind. Wat kan er aan de hand zijn? Wat zijn je mogelijkheden?</p>


<p>Er zijn 3 mogelijkheden die kunnen leiden tot deze situatie:</p>

<ul>
<li>Het festival produceert precies de vergunde hoeveelheid decibels, en de normstelling is redelijk</li>
<li>Men produceert meer geluid dan is vergund</li>
<li>Men produceert wat is vergund, maar de normstelling is onredelijk. </li>
</ul>

<p>Als eerste: meldt je overlast! Je weet niet welke van deze drie zaken gaande is, maar je kunt met goed fatsoen je huis niet gebruiken waar die voor bedoeld is. Sommige festivals dienen vooraf omwonenden te informeren over waar je met je klacht naartoe kunt. Vaak flyeren zij precies rondom het festivalterrein, maar basgeluid draagt natuurlijk veel verder. Sommige gemeenten hebben een meldpunt voor horeca-overlast. Directe lijn naar je gemeente kan het 14+netnummer zijn. 14020 voor Amsterdam, 14010 voor Rotterdam en 140511 voor Tietjerksteradeel. Het internet zou je moeten kunnen helpen. <br>
Mag je ook de volgende dag nog melden? Natuurlijk! De betere festivals hebben echter een mobiel meet-team, en zij komen graag bij de klager meten hoeveel decibel er precies staat. Festivals hebben er belang bij dat omwonenden geen last hebben, of iig niet klagen.<br>
Sleutelvraag is natuurlijk: tegen welke normen is er vergund? De vergunning zelf is in vrijwel geen gemeente vooraf online beschikbaar. Vaak is het feit dat er een vergunning is verleend, wél gepubliceerd. (<a target="_blank" href="https://www.amsterdam.nl/actueel/bekendmakingen/?Zoe=besluit&bekendmakingen_type=evenementenvergunning">Amsterdam</a>,
<a href="https://zoek.officielebekendmakingen.nl/zoeken/resultaat/?zkt=Uitgebreid&pst=Gemeenteblad&vrt=evenement&zkd=InDeGeheleText&dpr=Alle&spd=20170604&epd=20170604&sdt=DatumPublicatie&ap=&pnr=1&rpp=10" target="_blank">Algemeen</a> )
Uitzoeken hoe het zit met de vergunde decibels vraagt extra inspanning van jouw, als gedupeerde. Je zult bij je gemeente de vergunning moeten opvragen.
 </p>
 <p>
Welk festival gaat het om? Soms weet je het wel, als het ieder jaar hetzelfde is. Anders wil 
<a href="https://partyflock.nl/party/nowandsoon" target="_blank">partyflock</a> nog wel eens helpen. 
 </p>

 <p>Als tweede: maak direct bezwaar. <br>
 Nu lijkt het alsof ik oproep tot grootschalige burgeracties, maar dat is niet de bedoeling van mijn advies. Welke van de drie situaties vanavond van toepassing is weet je pas over een paar weken. Het systeem van "recht van bezwaar op besluit" beperkt zich echter in de tijd. Een vergunning wordt verleend per gemeentelijk besluit, en dat hoort gepubliceerd te worden. Daarna heb je 6 weken om een bezwaar in te dienen. Voorbij die tijd is het besluit onherroepelijk. Het zou mooi zijn als iedere omwonende 6 weken voor het festival op de hoogte is en de kans krijgt zich te laten horen. Festivalgeluid draagt tegenwoordig zo ver en er zijn soms zo veel festivals dat dit een utopie is. Je besef pas de overlast als het er is. <br>
 Vergunningverlening is ingewikkeld en de meeste vergunningen worden dan ook minder dan 6 weken van tevoren verleend. Dat betekent dat de kans groot is dat de <i>bezwaarperiode nog niet is verlopen als het festival gaande is</i>. Het maken van formeel bezwaar direct als je onredelijke overlast ervaart is dus vaak nog een optie. De formulering van je bezwaar hoeft niet binnen die 6 weken binnen te zijn. Als je laat weten dat je bezwaar maakt, en dat de onderbouwing nog volgt, is dat in beginsel voldoende. <br> 
 Een bezwaarschrift moet in elk geval bevatten:
 <ul>
	 <li>naam, adres en telefoonnummer</li>
	 <li>de datum waarop u het bezwaarschrift schrijft</li>
	 <li>een omschrijving van het besluit waartegen je bezwaar maakt. Of het referentienummer.</li>
	 <li>De reden voor het bezwaar. Je kunt voorlopig volstaan met "aantasting woon- en leefklimaat, onderbouwing volgt"</li>
	 <li>Handtekening (of bezwaar ook ontvankelijk is via email, weet ik eigenlijk niet. Lijkt me wel)</li>
 </ul>
Heb je vanavond last, en is de vergunning gepubliceerd na 
<font color="red"><script type="text/javascript" language="JavaScript">
<!-- 
var nu = new Date();
nu.setDate(nu.getDate() - 42);
document.write(nu.toLocaleDateString());
//--></script></font> dan is je bezwaar nog niet te laat. Check dus de website met publicaties. Amsterdam Centrum publiceert overigens alleen de aanvragen, niet de besluiten. Misschien zijn er meer gemeentes die op deze manier een extra wal opwerpen tegen bezwaarmakers...
 </p>

<h2>Het bezwaar, de onderbouwing</h2>
Je hebt formeel bezwaar ingediend en men verwacht een onderbouwing. Je hebt de vergunning opgevraagd en gekregen, het is niet onredelijk om om enige weken uitstel te vragen voor de onderbouwing. Het is complexe materie tenslotte. <br>
De vergunning bevat de geluidsnormen. Wat dB(A), dB(C), FoH, meetperiode etc. betekent kun je op deze website terugvinden. Verdiep je in de gevelnorm.<br>
Grote vraag is natuurlijk; welke van de 3 situaties was hier aan de hand? Wat was de oorzaak dat de overlast groter was dan wat de gemeente van je mag vragen? <br>
Hoe is je woonsituatie, hoeveel meter of misschien kilometer woom je van het podium, hoe was de wind, was het een warme zomeravond, heb je een huis van voor of na 1970?
<p>

</p>


<h3>Binnen redelijke norm. Wat nu?</h3>
<p>Iedere gemeente zal vinden dat zij redelijke normen hanteren. Het is haar taak om jouw zogenaamde woon- en leefklimaat te beschermen. Er is inmiddels enige jurisprudentie over wat redelijk geacht wordt, maar de impact van overlast door laagfrequent geluid is nog niet in kaart gebracht. Stelt de vergunning 70 dB(A) op de gevel en 80 dB(C), niet meer dan 3 keer per jaar, dan is bezwaar maken vrij kansloos. En misschien is dat ook eigenlijk wel niet nodig, het zou goed te verdragen moeten zijn. Het is natuurlijk mogelijk dat de wind ongunstig stond, of de meetapparatuur per ongeluk of expres net op een geluidsluwe plek stond (bijvoorbeeld achter een gebouw. Lijkt stom, maar het gebeurt). In deze gevallen wordt het errg moeilijk. Dit zijn geen redenen om het besluit tot verlenen van een vergunning aan te vechten. 
 </p>

<h3>Buiten de norm. Wat nu?</h3>
<p>Je kunt de meetgegevens opvragen. Idealiter krijg je de meetgegevens zoals ze op de minst gunstige gelegen gevel zijn gemeten. Vaak zijn die lastig te lezen, als ze er al zijn. Kan ook zijn dat er is gekozen voor een gunstiger plek. Als die plek in de vergunning beschreven staat (welke straat) en je vermoedt dat jouw gevel zwaarder is belast (bijvoorbeeld omdat het podium meer naar jou gericht staat, of omdat er een waterplas tussenligt), dan is dat reden tot aanvechten van het besluit. Allemaal lastig. Als de meetgegevens er niet zijn (komt ook voor) dan is daar het drijfzand van "gemeente had kunnen weten dat deze organisatie buiden de norm gaat draaien en had daarom de vergunning niet mogen verlenen". 
 </p>

<h3>Binnen onredelijke norm. Wat nu?</h3>
<p>Hier is het merendeel van de overlastzaken mee benoemd, en lijkt bezwaar de meeste kans op verbetering te bieden. Sinds jaar en dag wordt 50 dB(A) binnenshuis gezien als de grens van redelijk, en als je gevel 20 dB dempt is een gevelnorm van 70 dbB(A) redelijk te noemen (nieuwbouw (75 dB(A)). <br>
Wordt er meer dan dit op de gevel toegestaan, dan moet de Burgemeester met een hele goede motivatie komen. Lukt het de gemeente niet om deze uitzondering te onderbouwen, dan had de vergunning niet verleend mogen worden. <br>
Echter, de bastonen met hun lage frequenties geven een ander soort overlast. Een goede onderbouwde dB(C) gevelnorm bestaat eenvoudig nog niet. Mogelijke bezwaargrond dus. Onderstaande situaties moet je gemeente goed kunnen uitleggen:
<ul>
	<li>Er ontbreekt een gevelnorm in de vergunning</li>
	<li>Er ontbreekt een dB(C) gevelnorm</li>
	<li>er wordt uitgemiddeld over 5 minuten of meer</li>
	<li>De dB(C) gevelnorm ligt boven 80 dB(C)</li>
	<li>De dB(A) gevelnorm ligt boven 70 dB(C) (of bij nieuwere woningen 75 dB(C))</li>
	<li>Het feest gaat door na 23:00</li>
</ul>
 </p>

<h2>Verloop van de zaak</h2>
<p>Eerst dien je formeel bezwaar, je krijgt een bericht. Je vraagt de vergunning, het advies waarop de vergunning is gebaseerd (soms door een extern buro, soms door de omgevingsdienst) en je vraagt om de meetgegevens. <br>
Afhankelijk van de situatie onderbouw je je bezwaar. Is het te hard, te lang, een combinatie van beiden... <br>
Als het goed is krijg je na verloop van tijd een uitnodiging van een hoorzitting. Er zal een commissie zijn die je bezwaar heeft bekeken, en je wordt in de gelegenheid gesteld (samen met andere bezwaarmakers) je bezwaar te verduidelijken. <br>
Na een lange tijd krijg je bericht, de hoorcommissie vind je bezwaar hoogstwaarschijnlijk ongegrond. De basishouding naar de eigen organisatie is zelden kritisch. Je vecht dit besluit aan bij de rechter. Dat kost eenmalig griffiekosten, meestal minder dan 200 euro. Dien gelijk een verzoek in bij de rechter tot vergoeding van deze kosten.

De rechter doet mogelijk geen uitspraak. Het feest is al geweest en een volgende editie van het evenement is een 'onzekere toekomstige gebeurtenis'. Je rechtspositie zal niet veranderen door een uitspraak van de rechter en er is dus geen sprake van rechtsbelang. teleurstellend, hier hield het voor mij op en ik heb spijt. Volgende stap is de Raad van State. Zij zijn wel geneigd om de zaak inhoudelijk te bekijken. Mail me rond die tijd maar. 

</p>

	        </div><!-- /.tl-main -->

	    </div> <!-- class="row" -->

	</section>

{{> footer}}

</body></html>
