---
title: article
---

<!DOCTYPE html>
<html lang="nl">
<head>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}

	<section class="container">

	    <div class="row">

			<h3>Soms helpt overdrijven om een punt inzichtelijk te krijgen</h3>
	        <div class="col-sm-8 tl-main">

<p>De jongelui uit het Brabantse Schijndel krijgen 1 maal per jaar rond de jaarwisseling een vergunning van de gemeente, om Carbid te mogen schieten. Een oude Hollandse traditie, die deel uitmaakt van het nationaal erfgoed. Het geluid, de drukgolf die je voelt, de echo's die nog tientallen seconden van omliggende gebouwen terugkomt donderen, ze vinden het geweldig en het kan niet hard genoeg. Zij maken daar audio-opnames van.</p>
<p>In de zomer imponeren zij de jongens van het naastgelegen dorp, op het parkeeterrein van de sportvelden, met hun opnames uit de ingebouwde subwoofers van hun auto's.</p>
<p>Maar zij missen de geluidsdruk, het machtige gevoel, en zij organiseren daarom in een festival-vriendelijke stad het NK virtueel carbid-schieten.
Twee enorme stapels subwoofers tegenover elkaar. Opnames van carbid-explosies worden om beurten op de andere groep afgevuurd. Twee of drie knallen per 5 minuten, 180 decibel moet haalbaar zijn. De winnaar krijgt de wisselbeker.
Zij kopen een rapport bij een geluidsburo waar uit blijkt dat de omliggende woningen niet meer dan 70 dBA op de gevel krijgen. Er wordt immers aleen het gemiddelde over 5 minuten gemeten, en het lage gebulder zal door het A filter minder zwaar wegen.
De Gemeente vind geen weigeringsgronden, als verder aan alle voorwaarden voor ene vergunning wordt voldaan. Tot een kilometer rond het 'festival' zal geen kind meer slapen... 

			</div>
		    <div class="col-sm-4 tl-main">
		        <img  tabindex="0" width="100%" height="auto"  src="./img/carbid-schieten.jpg"></img><br>
		    </div>


		</div>
	</section>
</body></html>
