--- title: duldbaar ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Wat is volgens beleidsmakers nog duldbaar?</title>
	<meta property="og:description" content="Wat is volgens beleidsmakers nog duldbaar?" /> {{> head relativepath='../'}}

</head>

<body class="tl-body">
	{{> menu this}}

	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Definite van Duldbaar, tot 2017</h1>
			<p class="lead tl-description">Wat wordt nog duldbaar geacht door beleidsmakers en jurisprudentie?</p>
		</div>

		<div class="row">
			<div class="col-sm-12 tl-main">
				<p>Twintig jaar geleden is door de "Interdepartementale Commissie Geluidshinder" onderkend dat gemeenten moeite hadden met
					het formuleren van hun beleid met betrekking tot geluidsnormen voor evenementen in de openlucht. Als handreiking is
					in 1996 de nota "Evenementen met een luidruchtig karakter" opgesteld en deze nota wordt tot vandaag gebruikt als leidraad
					in het vergunningproces voor muziekevenementen.</p>
				<p>Ik zal hieraan refereren als
					<a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">nota EMELK</a>. </p>
				<p>Geluidswaarden binnen de woning van 45-50 dB(A) wordt gekenmerkt als 'zeer ernstige overlast', daarboven wordt de overlast
					als 'onduldbaar' beschouwd.</p>

				Over binnenshuis stoorgeluid van 50 dB(A) door nabijgelegen evenementen schreef men het volgende:
				<blockquote>"Dit zou betekenen dat men (voor het gehoor) dubbel zo luid zou moeten spreken om nog goed verstaanbaar te zijn, en minimaal
					het spraakniveau naar 53 dB(A) zou moeten verhogen (fysisch een verdubbeling) om nog net verstaanbaar te zijn. Dit is
					zo'n ernstige aantasting van de persoonlijke levenssfeer, dat hier de grens zou moeten liggen van wat in redelijkheid
					van een omwonende gevraagd kan worden te accepteren, en wat daarom kan worden gezien als de grens waarboven een geluid
					als "onduldbaar" kan worden gekwalificeerd."
				</blockquote>

				<p>Opgemerkt moet worden dat in 1996 nog niet veel evenementen bestonden waar de bastonen een groot aandeel hadden in de
					totale geluidsproductie. Tegenwoordig is hier wel meer oog voor, maar tot 2017 werd bij normering uitgegaan van spraakverstaanbaarheid.
					Eventueel werden bassen gereguleerd door te stellen dat tussen C en A meting niet meer dan 15 decibel verschil mag zitten.
					De vertaling naar spraakverstaanbaarheid als eenheid van overlast is hier te kort door de bocht.
				</p>

				<p>De vertaling naar een gevelnorm gaat uit van bescherming spraakverstaanbaarheid, maximaal 50 dB(A) binnenshuis. Wanneer bekend is hoeveel decibel de gevel dempt, kan de gevelnorm berekend worden. Een nieuwbouw woning (na 1970) dempt gemiddelt 25 dB, een wat oudere woning dempt maximaal 20 dB. 
				Het is hierom dat in veel vergunningen een maximale gevelnorm van 70 dB(A) staat. Hoewel er legio gemeenten zijn waar 80 dB(A) of meer vergund wordt; het is lastig te begrijpen hoe men daarmee weg komt. Vaak gaat dat om een locatie met 1 of 2 festivals per jaar.
				</p>

				<p>Opgemerkt moet worden dat in 1996 nog niet veel evenementen bestonden waar de bastonen een groot aandeel hadden in de
					totale geluidsproductie. Tegenwoordig is hier wel meer oog voor, maar tot 2017 werd bij normering uitgegaan van spraakverstaanbaarheid.
					Eventueel werden bassen gereguleerd door te stellen dat tussen C en A meting niet meer dan 15 decibel verschil mag zitten.
					De vertaling naar spraakverstaanbaarheid als eenheid van overlast is hier te kort door de bocht.
				</p>

			</div>

		</div>
		<!-- class="row" -->

	</section>

	{{> footer}}

</body>

</html>