---
title: home
---
<!DOCTYPE html>
<html lang="nl">
<head>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="blog-header">
	        <h1 class="blog-title">Lager Toontje</h1>
	        <p class="lead blog-description">Over evenementen met een luidruchtig karakter in de open lucht</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-8 blog-main">
{{> main}}
	        </div><!-- /.blog-main -->

	        <div class="col-sm-3 blog-sidebar">
{{> infoblock}}
            </div><!-- /.blog-sidebar -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
