---
title: home
---
<!DOCTYPE html>
<html lang="nl">
<head>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Lager Toontje</h1>
	        <p class="lead tl-description">Over evenementen met een luidruchtig karakter in de open lucht</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-8 tl-main">
{{> main}}
	        </div><!-- /.tl-main -->

	        <div class="col-sm-3 tl-sidebar">
{{> infoblock}}
            </div><!-- /.tl-sidebar -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
