---
title: links
---

<!DOCTYPE html>
<html lang="nl">
<head>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Lager Toontje</h1>
	        <p class="lead tl-description">belangengroepen, bewonersgroepen</p>
	    </div>

	    <div class="row">
	        <div class="col-sm-6 tl-main">
				<h4>Groene Ster Duurzaam, Leeuwarden</h4>
	        </div>
	        <div class="col-sm-6 tl-main">
				<a href="http://www.groenesterduurzaam.nl/">website</a>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-sm-6 tl-main">
				<h4>Irenebuurt, Amsterdam</h4>
	        </div>
	        <div class="col-sm-6 tl-main">
				<a href="http://www.irenebuurt.nl/">website</a>
	        </div>
	    </div> <!-- class="row" -->

	    <div class="row">
	        <div class="col-sm-6 tl-main">
				<h4>Feesten uit Balans, Groningen</h4>
	        </div>
	        <div class="col-sm-6 tl-main">
				<a href="http://feestenuitbalans.nl/">website</a>
	        </div>
	    </div> <!-- class="row" -->

	    <div class="row">
	        <div class="col-sm-6 tl-main">
				<h4>NSG</h4>
	        </div>
	        <div class="col-sm-6 tl-main">
				<a href="http://nsg.nl/">website</a>
	        </div>
	    </div> <!-- class="row" -->

	</section>

{{> footer}}

</body></html>
