---
title: links
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Links</title>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <p class="lead tl-description">belangengroepen, bewonersgroepen</p>
	    </div>

	    <div class="row">
	        <div class="col-sm-4 tl-main">
				<h4>Groene Ster Duurzaam, Leeuwarden</h4>
	        </div>
	        <div class="col-sm-4 tl-main">
				<a href="http://www.groenesterduurzaam.nl/" target="_blank">website</a>
	        </div>
	        <div class="col-sm-4 tl-main"><a href="https://twitter.com/groenesterlwd" 	target="_blank">twitter</a>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-sm-4 tl-main">
				<h4>Irenebuurt, Amsterdam</h4>
	        </div>
	        <div class="col-sm-4 tl-main">
				<a href="http://www.irenebuurt.nl/">website</a>
	        </div>
	        <div class="col-sm-4 tl-main">
	        </div>
	    </div> <!-- class="row" -->

	    <div class="row">
	        <div class="col-sm-4 tl-main">
				<h4>Feesten uit Balans, Groningen</h4>
	        </div>
	        <div class="col-sm-4 tl-main">
				<a href="http://feestenuitbalans.nl/">website</a>
	        </div>
	        <div class="col-sm-4 tl-main"><a href="https://twitter.com/FeestUitBalans" target="_blank">twitter</a>
	        </div>
	    </div> <!-- class="row" -->

	    <div class="row">
	        <div class="col-sm-4 tl-main">
				<h4>NSG</h4>
	        </div>
	        <div class="col-sm-4 tl-main">
				<a href="http://nsg.nl/">website</a>
	        </div>
	        <div class="col-sm-4 tl-main"><a href="https://twitter.com/Geluidshinder" target="_blank">twitter</a>
	        </div>
	    </div> <!-- class="row" -->

	</section>

{{> footer}}

</body></html>
