--- title: meewind ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Invloed van wind op luide evenementen</title>
	<meta property="og:description" content="Invloed van wind op luide evenementen." /> 
	{{> head relativepath='../'}}


</head>

<body class="tl-body">
	{{> menu this}}


	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Hóór, de wind waait...</h1>
		</div>

		<div class="row">
			<div class="col-sm-12 tl-main">
				Een krachtige wind waait 10 meter per seconde, dat is maar een fractie van de snelheid van geluid (330 m/s). Vrijwel niet van invloed dus.<br>
				Het verschíl in windssnelheid, op verschillende hoogtes, dat veroorzaakt dat geluid dat bij het festival schuin naar boven wordt weggestuurd, 
				op afstand als het ware weer naar beneden wordt gebogen. (<a href="./docs/wind_en_evenementengeluid.pdf" target="_blank">uitleg refractie door wind</a>) <br>
				Daarom is het risico op geluidsoverlast bij een openlucht-evenement groter in de richting van de wind.<br>
				Dat kan een paar decibel schelen. Tegen de wind in is het tegenovergestelde aan de hand, en kan het juist veel stiller zijn dan verwacht.</p>
				<p>Dit fenomeen treedt op bij alle windsnelheden. Wanneer als uitleg voor overlast in de wijde omgeving van een festival de wind wordt genoemd als verklaring voor de hoeveelheid overlast, dan zit men fout.<br>
				De wind bepaalt de <strong>richting</strong> waarin de overlast wordt veroorzaakt. De <strong>hoeveelheid</strong> overlast wordt louter bepaald door het aantal decibels dat is vergund aan het festival, of aan het aantal decibels dat ondanks de beperking in de vergunning toch wordt geproduceerd. <br>
				Deze website legt overigens uit hoe men met een norm in dB(A) makkelijk "binnen de norm" blijft, ondanks een enorme hoeveelheid basgeluid. 

				</p>

			</div>
		</div>

	</section>
	{{> footer}}

</body>

</html>