--- title: meteo ---

<!DOCTYPE html>
<html lang="nl">

<head>
	<title>Meteo-Correctie en het Amsterdams Geluidsbeleid</title>
	<meta property="og:description" content="Meteo-correctie Amsterdams Geluidsbeleid." /> {{> head relativepath='../'}}

	<meta property="og:description" content="Meteo-correctie Amsterdams Beleid" />

</head>

<body class="tl-body">
	{{> menu this}}


	<section class="container">

		<div class="tl-header">
			<h1 class="tl-title">Meteo-correctie in het Amsterdamse Geluidsbeleid</h1>
			<p class="lead tl-description">Wat is het effect van wind op evenementengeluid, en waarom het introduceren van een Meteo-correctie een slecht idee is.
			</p>

		</div>

		<div class="row">
			<div class="col-sm-12 tl-main">
				<h3>Hoor, de wind waait</h3>
				<p>De richting van de wind is méér van invloed op evenementengeluid, dan de windsnelheid. 
					Een krachtige wind waait 10 meter per seconde, dat is maar een fractie van de snelheid van geluid (343 m/s). Vrijwel niet van invloed dus.<br>
				Het verschíl in windssnelheid, op verschillende hoogtes, dat veroorzaakt dat geluid dat bij het festival schuin naar boven wordt weggestuurd, 
				op afstand als het ware weer naar beneden wordt gebogen. (<a target="_blank" href="./05meestbelast.html">precieze uitleg extra overlast door meewind</a>) <br>
				Daarom is het risico op geluidsoverlast bij een openlucht-evenement groter in de richting van de wind.<br>
				Dat kan een paar decibel schelen. Tegen de wind in is het tegenovergestelde aan de hand, en kan het juist veel stiller zijn dan verwacht.</p>
				<p><b>Dit is niet nieuw.</b> Amsterdamse evenementen houden al jaren rekening met dit fenomeen, door op voorhand te berekenen of men met alle windrichtingen niet boven de norm zal uitkomen; 
					woningen in de ene richting kunnen immers dichterbij staan dan woningen in een andere richting. <br>
					Omdat men niet het risico wil lopen het Festival te moeten stoppen als de wind draait, moet er bij alle windrichtingen binnen de norm gebleven worden.</p>
				<p>Omdat er in Nederland altijd wel wind staat, en vaak vanuit ZW, zijn het rond sommige locaties dus vaak steeds dezelfde woningen die de meeste overlast ondervinden. 
					</p>

				<h3>Een nieuwe wind door Amsterdam</h3>
				<p><i>"Amsterdam verhardt strijd tegen geluidsoverlast en wil strengere normen voor evenementen"</i> kopte de <a href="https://www.volkskrant.nl/binnenland/amsterdam-verhardt-strijd-tegen-geluidsoverlast-en-wil-strengere-normen-voor-evenementen~a4507104/" target="_blank">Volkskrant</a>
				 in juli 2017. Dat betekent dat er voortaan bij de gevels niet in dB(A) maar in dB(C) wordt genormeerd, en daarmee zou de zwaarte van de muziek onder controle zijn.<br>
				 Strengere normen betekent minder harde, minder zware muziek. Voor hen die het vaakst overlast ervaren zou dit een zegen moeten zijn.</p>
				<p>Echter, de evenementenbranche heeft het college van Amsterdam ervan overtuigd dat het te zeer wordt ingeperkt in zijn creativiteit door deze strenge regels, 
					 en is bang dat op de grotere locaties zoals het Sloterpark minder geluidsruimte overblijft dan voorheen.</p>
				<p>Amsterdam compenseert de Festivals, door op deze locaties 3 decibel extra toe te staan, indien in de richting van de wind gemeten wordt. <br>
					Met spreekt over een meteo-correctie, men verdedigt dit door te stellen dat het risico op ongunstige wind nu verdeeld mag worden tussen Festivals en Omwonenden.</p>
				<p>Lariekoek natuurlijk. Wind is geen risico, alleen de windrichting kan "ongunstig" uitpakken. 
					Ongunstig voor het Evenement, zo wordt door het College geredeneerd, 
					en dit dient middels de meteo-correctie door de omwonenden gecompenseerd te worden. 
					Waar in het oude beleid werd gesteld <i>"als het niet past met een bepaalde gevelnorm, dan kan het evenement niet plaatsvinden"</i> 
					is nu door het college gekozen voor <i>"als het niet past met een bepaalde gevelnorm, dan passen we de gevelnorm aan"</i></p>
				
				<h3>Meteo-correctie, verharding van het beleid?</h3>
				<p>De geluidsnorm in dB(C) wordt in het nieuwe Amsterdamse geluidsbeleid verdedigd door te stellen dat de geluidsniveaus van de 'oude' norm van 70 dB(A) met de nieuwe norm ook gerespecteerd zullen worden. <br>
					Als we echter de nieuwe norm gaan oprekken op op bepaalde locaties toch evenementen mogelijk te maken, dan is houdt die verdediging natuurlijk geen stand.<br>
					Sterker nog, het is goed mogelijk dat er voor de Evenementen uiteindelijk helemaal geen sprake is van inperken van het geluid. 
					Het nieuwe Amsterdamse beleid maakt evenementen van hetzelfde kaliber mogelijk.
					</p>
				<p>Voor hen, die toch al relatief vaker te maken kregen met flinke overlast, zal het nieuwe Amsterdamse Geluidsbeleid geen verbetering betekenen. 
					Mogelijk zelfs een verslechtering. Dat is iets wat niet te verkopen is aan een stad waar de inwoners toch al meer en meer onder druk komen te staan.<br>
					Waar de hoop was op een betere balans tussen levendigheid en leefbaarheid, kiest het College hier wederom onomwonden voor de belangen van de evenementenbranche.
				</p>
				
				<h3>Beperkt aantal locaties?</h3>
				<p>De Meteo-correctie mag worden toegepast op een beperkt aantal locaties, daarmee lijkt het leed gespreid. 
					Het gaat echter precies om de locaties waar de meeste evenementendagen worden toegestaan. 
					Juist de luidruchtigste evenementen zullen deze locaties gaan opzoeken, waardoor deze meteo-correctie bij <b>de helft</b> van de luide festivals in Amsterdam toegepast zal worden. Of meer.
				</p>

				<h3>Correcte toepassing?</h3>
				<p>Door de 'compensatie van het Evenement voor meten bij meewind' te gieten in een term die in de geluidswereld wel bekend is, lijkt deze maatregel legitiem. <br>
				Echter, meerdere gemeenten kiezen ervoor om deze meteo-correctie niet toe te passen in hun beleid. 
				In <a href="http://decentrale.regelgeving.overheid.nl/cvdr/xhtmloutput/Historie/Zwolle/CVDR398537/CVDR398537_1.html" target="_blank">Zwolle</a> 
				stelt men dat deze meteo-correctie toepasbaar is op industrielawaai (continue bedrijfsvoering, jaargemiddelde). Deze benadering is niet te gebruiken bij kortdurende evenementen. <br>
				Bovendien stelt men, en dat gaat voor Amsterdam zeker ook op, dat het belang van een eenvoudig uitvoerbare handhaving niet gediend is met nieuwe, complexe correcties.
				Er valt namelijk ook nog mee te sjoemelen.
				</p>

				<h3>Noodzaak?</h3>
				<p>Uit een onderzoek naar 17 festivals in 2017, maar ook uit de meetgegevens van 2018 blijkt dat vrijwel nergens de meteo-correctie is gebruikt. Het is dus goed mogelijk om een festival te organiseren zonder de extra verruiming, ook als de wind ongunstig staat.<br>
				Het nieuwe beleid stelt "maximaal 85 dB(C), minder indien mogelijk". De uitzonderingsmaatregel voor meteo blijkt niet nodig. 
				</p>

				<h3>Vraag aan Gemeente Amsterdam</h3>
				<p>Om de ongelijkheid, de oneerlijkheid uit het nieuwe beleid te halen, en de balans te verbeteren, vraag ik de vergunningverleners van Oost, Nieuw West Zuid-Oost en Noord om de meteo-correctie niet meer in hun vergunningen toe te laten. <br>
				Mocht de Burgemeester de regie over deze festivalterreinen naar haar toe willen trekken, vraag ik haar om de meteo-correctie te schrappen uit het pakket van toe te passen maatregelen. 
				</p>

			</div>
		</div>

	</section>
	{{> footer}}

</body>

</html>