---
title: naslag
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Naslag</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Naslag, referenties, documenten</h1>
	        <p class="lead tl-description">Het heeft mij moeite gekost om een overzicht te krijgen van alle literatuur, als je dat zo mag noemen, 
				die belangrijk is voor het begrijpen en vaststellen van geluidsbeleid.<br>
				Ik probeer hier alle relevante documenten te verzamelen. 
				</p>

	    </div>

<div class="row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">
		Evenementen met een luidruchtig karakter 1996</a>
	</div>
	<div class="col-sm-8 tl-main">
		Twintig jaar geleden is door de "Interdepartementale Commissie Geluidshinder" onderkend dat gemeenten moeite hadden met het formuleren 
		van hun beleid met betrekking tot geluidsnormen voor evenementen in de openlucht. 
		De nota "Evenementen met een luidruchtig karakter", van de inspectie milieuhygiene Limburg stelt dat alle 
		geluid binnenshuis boven 50 dB(A) als onduldbaar gekenmerkt mag worden. Dit is de basis voor alle geluidsbeleid in Nederland.<br>
		Bladzijde 7.
	</div>
</div> <!-- class="row" -->

<div class="row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/handreikingindustrielawaaienvergunningverlening.pdf" onclick="ga('send', 'event', 'download', this.href);">
		Handreiking lawaai en vergunningen</a>
	</div>
	<div class="col-sm-8 tl-main">
		Handreiking lawaai en vergunningen hfdstk. 6.3.1 eerste paragraaf (blz 41) geeft een duidelijke uitleg waarom geluid,
		wanneer het een significante hoeveelheid laagfrequent geluid bevat, niet met dB(A) meting beoordeelt zou mogen worden. 
	</div>
</div> <!-- class="row" -->

<div class="row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/Factsheet_LFG_RIVM.pdf" onclick="ga('send', 'event', 'download', this.href);">
		Factsheet laag Frequent geluid (LFG) (RIVM)</a>
	</div>
	<div class="col-sm-8 tl-main">
		Het Rijksinstituut voor Volksgezondheid heeft in 2013 een verzameling gemaakt van de actuele kennis en literatuur, op 
		aanvraag van ministerie van Infrastructuur en Milieu.<br>
		Het effect van "opslingeren" van lfg wordt hier in beschreven. 
	</div>
</div> <!-- class="row" -->

<div class="row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Richtlijn Laagfrequent geluid van de Nederlandse Stichting Geluidshinder</a>
	</div>
	<div class="col-sm-8 tl-main">
		De Nederlandse Stichting Geluidshinder heeft meerdere documenten, en publiceert regelmatig nieuwe inzichten.
		(<a href="http://www.nsg.nl/nl/home.html" target="_blank">website NSG</a>)<br>
		De richtlijn Laagfrequent geluid stamt uit 1999. 
	</div>
</div> <!-- class="row" -->


<!--TODO
Feesten rapport Jacob
Peutz en rechtspraak
uitspraak leeuwarden, amsersfoor en zwolle-->





	</section>

{{> footer}}

</body></html>
