---
title: naslag
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Naslag</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Naslag, referenties, documenten.</h1>
	    </div>

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/NotaEvenementenMetEenLuidruchtigKarakter.pdf" target="_blank"  onclick="ga('send', 'event', 'download', this.href);">
		Evenementen met een luidruchtig karakter 1996</a>
	</div>
	<div class="col-sm-8 tl-main">
		Twintig jaar geleden is door de "Interdepartementale Commissie Geluidshinder" onderkend dat gemeenten moeite hadden met het formuleren 
		van hun beleid met betrekking tot geluidsnormen voor evenementen in de openlucht. 
		De nota "Evenementen met een luidruchtig karakter", van de inspectie milieuhygiene Limburg stelt dat alle 
		geluid binnenshuis boven 50 dB(A) als onduldbaar gekenmerkt mag worden. Dit is de basis voor alle geluidsbeleid in Nederland.<br>
		Bladzijde 7.
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/handreikingindustrielawaaienvergunningverlening.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Handreiking lawaai en vergunningen</a>
	</div>
	<div class="col-sm-8 tl-main">
		Handreiking lawaai en vergunningen hfdstk. 6.3.1 eerste paragraaf (blz 41) geeft een duidelijke uitleg waarom geluid,
		wanneer het een significante hoeveelheid laagfrequent geluid bevat, niet met dB(A) meting beoordeelt zou mogen worden. 
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/Factsheet_LFG_RIVM.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Factsheet laag Frequent geluid (LFG) (RIVM)</a>
	</div>
	<div class="col-sm-8 tl-main">
		Het Rijksinstituut voor Volksgezondheid heeft in 2013 een verzameling gemaakt van de actuele kennis en literatuur, op 
		aanvraag van ministerie van Infrastructuur en Milieu.<br>
		Het effect van "opslingeren" van lfg wordt hier in beschreven. 
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main" id="peutzbastonen">
		<a href="./docs/Peutz_Publicatie_GL_Internoise_08-2001.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Low frequency noise criteria: foundation, applicability and consequences</a>
	</div>
	<div class="col-sm-8 tl-main">
		Buro Peutz heeft al in 2001 onderoek gedaan naar geluidsnormen voor bastonen binnen woningen.<br>
		<i>"De waarneming van Laagfrequent geluid verschilt van de waarneming van 'normaal' geluid (dB(A) gemeten geluid. lagertoontje) en daarom kunnen de 'regels' voor normaal geluid niet vanzelfsprekend worden toegepast op laagfrequent geluid. Zo is het bijvoorbeeld moeilijk voor een persoon om door lucht gedragen laagfrequent geluid te onderscheiden van trillingen. Een andere moeilijkheid is gelegen in het feit dat de gevoeligheid per type mens kan verschillen. Zo zijn vrouwen hier gevoeliger voor dan mannen, ouderen meer dan jongeren. Dit bemoeilijkt het opstellen van algemene criteria."</i>
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/NSG-Richtlijn-rlfg.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Richtlijn Laagfrequent geluid van de Nederlandse Stichting Geluidshinder</a>
	</div>
	<div class="col-sm-8 tl-main">
		De Nederlandse Stichting Geluidshinder heeft meerdere documenten, en publiceert regelmatig nieuwe inzichten.
		(<a href="http://www.nsg.nl/nl/home.html" target="_blank">website NSG</a>)<br>
		De richtlijn Laagfrequent geluid stamt uit 1999. 
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/MuziekspectraDeverdelingvangeluid.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Muziekspectra: de verdeling van geluid</a><br>
		Lennard van Duijvestijn 2014
	</div>
	<div class="col-sm-8 tl-main">
		Verhandeling over de geluidsspectra, en de eerste vermelding van muziek met het kenkerk "ultrabass".  
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/RapportPeutzZwolle.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Geluid in de omgeving ten gevolge van evenementen rond de Wijthmenerplas te Zwolle</a><br>
		Buro Peutz, 2015
	</div>
	<div class="col-sm-8 tl-main">
		Evaluatie van het door DGRM opgestelde geluidssonderzoek voor festivals in Zwolle. Kortgezegd, de berekende en vergunde waardes voorkomen geen onduldbare hinder binnenshuis.<br>
		Op basis van dit rapport hebben de omwonenden van de rechter gelijk gekregen (<a href="./docs/UitspraakHardshockZwolle.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">Uitspraak Hardshock Zwolle</a>)		   
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/RapportOnderzoekBasverhoudingEvenementenAmsterdam-2015.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Rapportage handhaving en basverhouding Evenementen in 2015 in Amsterdam</a><br>
		Lagertoontje, 2016
	</div>
	<div class="col-sm-8 tl-main">
		Dit onderzoek is bedoeld om beleidsmakers, handhavers, de festivalbranche en bezwaarmakers bewust te maken van de rol die bastonen spelen in het complexe veld tussen vergunnen en verdragen.<br>
De algemene conclusie is dat het huidige samenspel tussen regelgeving en handhaving niet of zeer beperkt heeft kunnen voorkomen dat er in 2015 overlast is ontstaan.
	</div>
</div> <!-- class="row" -->


<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/notageluidshinderOudeStadt.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Beleidsbijdrage Geluidshinder bij evenementen in Amsterdam</a><br>
		d' Oude Stadt samen met NSG, 2016
	</div>
	<div class="col-sm-8 tl-main">
		De nota schetst de wijze waarop het bestaande gemeentelijke evenementenbeleid op het gebied van geluidshinder onvoldoende rekening houdt met omwonenden. Tevens waar het faalt om als omwonende je leefomgeving veilig te stellen wanneer de hinder echt te groot is. Daarna wordt ingegaan op de oplossingen, die recht doen aan alle belangen: van bewoners, festivalgangers en organisatoren. En sluiten ook aan op de uitgangspunten van de nieuwe evenementenregels die spreken over beter en slimmer organiseren en meer aandacht voor de omgeving en de impact op de stad.
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="./docs/Naar_een_aanvaardbaar_geluidsniveau_bij_evenementen_v1.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">
		Feestbuurten of buurtfeesten</a><br>
		Bewonersgroep Wij Amsterdam, 2016
	</div>
	<div class="col-sm-8 tl-main">
		Naar een aanvaardbaar geluidsniveau bij evenementen in Amsterdam. Zienswijze, handreiking en naslagwerk.
	</div>
</div> <!-- class="row" -->

<div class="row tl-naslag-row">
	<div class="col-sm-4 tl-main">
		<a href="http://www.laagfrequentgeluid.nl/" target="_blank" onclick="ga('send', 'event', 'link', "http://www.laagfrequentgeluid.nl/");">
		St. Laagfrequent Geluid</a>
	</div>
	<div class="col-sm-8 tl-main">
		Deze website is gericht op het informeren van burgers, bedrijven, overheden en instellingen over de problematiek van zware bromtonen, oftewel laagfrequent-, infrasoon geluid en trillingen (LFg), en het ondersteunen van burgers in hun zoektocht naar oorzaak en oplossing.
	</div>
</div> <!-- class="row" -->



<!--TODO
Feesten rapport Jacob
Peutz en rechtspraak
uitspraak leeuwarden, amsersfoor en zwolle-->





	</section>

{{> footer}}

</body></html>
