---
title: pers
---

<!DOCTYPE html>
<html lang="nl">
<head>
    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Lager Toontje</h1>
	        <p class="lead tl-description">Lage tonen in de pers en opiniestukken</p>
	    </div>

	    <div class="row">

	        <div class="col-sm-8 tl-main">
				<h4>Strijd met gemeenten is juridisch, niet op argumenten</h4>
				<div class="persdatum">25 maart 2015</div>
				<p>In een pakkend betoog stelde Jacques Wallage tijdens het congres "Beter en Concreter" dat het openbaar bestuur te zeer in een juridische jas is  gegoten. Dat is in een rechtsstaat weliswaar noodzakelijk - je hebt immers geen macht anders dan gefundeerd op grond van de wet- maar de betrekkingen tussen overheid en burger zijn niet alleen juridisch. Sterker nog, waarschijnlijk schaden wij die betrekkingen door die relatie vooral als juridisch te duiden. Wallage stelde dan ook de vraag of de juridische jas het enige kledingstuk is wat de overheid heeft. Staat de overheid er voor al het andere naakt bij? Wanneer wij niet meer in staat zijn om de essentie van de regels tot leven te wekken door op een open, directe, informele manier samen met mensen oplossingen te zoeken, dan helpen ons de regels niet! Wallage sloot zijn lezing af met de conclusie dat het openbaar bestuur te belangrijk is om aan juristen over te laten.</p>
	        </div>
	        <div class="col-sm-4 tl-main">

				<a href="http://prettigcontactmetdeoverheid.nl/sites/default/files/Speech%20Wallage%20Het%20Openbaar%20Bestuur%20is%20te%20belangrijk%20om%20aan%20juristen%20over%20te%20laten.pdf" type="application/pdf; length=473168">Speech Wallage Het Openbaar Bestuur is te belangrijk om aan juristen over te laten.pdf</a>
	        </div>

	        <!-- /.tl-main -->


	    </div> <!-- class="row" -->

	    <div class="row">

	        <div class="col-sm-8 tl-main">
				<h4>Stichting Geluidshinder onderkent muziek met excessieve bas</h4>
				<div class="persdatum">5 dec 2015</div>
				<p>Muziek in horecabedrijven bevat vandaag de dag veel lage tonen. Omwonenden klagen steeds vaker over het aanhoudende muziekgedreun dat gemakkelijk hun woningen binnendringt. Vergunningverleners, handhavers en akoestisch adviseurs worstelen met haperende verouderde onderzoeksmethoden. Een nieuwe richtlijn van de Nederlandse Stichting Geluidshinder biedt uitkomst. Hij werd voor het eerst gepresenteerd op de Nationale Geluidshinderdag 2015. De Vereniging van Nederlandse Gemeenten (VNG) beveelt de richtlijn bij haar leden aan.</p>
	        </div>
	        <div class="col-sm-4 tl-main">

				<a href="http://http://nsg.nl/file/252/" type="application/pdf; length=473168">Richtlijn van NSG.</a>
	        </div>

	        <!-- /.tl-main -->


	    </div> <!-- class="row" -->

	</section>

{{> footer}}

</body></html>
