---
title: petitie
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Volksinitiatief (Petitie)</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Volksinitiatief (Petitie)</h1>
	        <p class="lead tl-description">Amsterdam kent het volksinitiatief als inspraakinstrument. Burgers kunnen een voorstel indienen bij de gemeenteraad als zij 1200 handtekeningen verzamelen.</p>

	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
	        	De benodigde 1200 handtekeningen zijn inmiddels ruim binnen, lees hier over het vervolg.
	        	
			    <p>{{> signbutton }}</p><br>
			</div><!-- /.tl-main -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
