---
title: petitie
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Volksinitiatief (Petitie)</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Volksinitiatief (Petitie)</h1>
	        <p class="lead tl-description">Amsterdam kent het volksinitiatief als inspraakinstrument. Burgers kunnen een voorstel indienen bij de gemeenteraad als zij 1200 handtekeningen verzamelen.</p>

	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
	        	De benodigde 1200 handtekeningen zijn inmiddels ruim binnen, ons voorstel wordt voorbereid voor bespreking in de raad.<br>
			    <p>{{> signbutton }}</p>
	        	<hr>

<h4>Inleiding</h4>
Wij zijn van mening dat het beleid dat de bastonen bij evenementen reguleert, achterhaald is. Wij willen een volksinitiatief starten met als doel om te komen tot betere normering voor bastonen (dB(C)) bij festivals en evenementen: Basbewust Beleid. Hiermee willen wij de overlast van lage tonen drastisch verminderen. 

<br>
<h4>Volksinitiatief</h4>
<h5>Wij</h5>
omwonenden rond festivallocaties in Amsterdam, op korte maar ook grotere afstand

<h5>constateren</h5>
<ul>
<li>festivals meer en meer bastonen zijn gaan produceren</li>
<li>de in 1996 opgestelde definitie van 'onduldbare overlast' de gemeenten te weinig handvat biedt ter voorkoming van overlast</li>
<li>de gebruikte combinatie van maatregelen ter regulering van de bastonen niet volstaat</li>
<li>de instanties moeite hebben met het kwantificeren van gemelde overlast en geuit bezwaar, omdat deze niet binnen het huidige normkader past</li>
<li>de instanties daardoor moeite hebben met de handhaving</li>
</ul>

<h5>en verzoeken</h5>
<ul>
<li>Er moet worden vastgesteld welke dB(c) waarde binnenshuis nog aangemerkt kan worden als duldbaar. Hierbij moet gekeken worden naar de specifieke karaktereigenschappen van laagfrequent geluid. Het is zeker niet dB(a)+15dB</li>
<li>Vanwege slechtere geveldemping bij lage tonen, verzoeken wij een conservatieve gevelnorm op basis van de toegestane dB(c) binnenshuiswaarde</li>
<li>Deze gevelnorm moet worden uitgedrukt in korttijdsgemiddelde (1 minuut)</li>
<li>Het niet kunnen garanderen van de dB(c) gevelnorm moet weigeringsgrond zijn voor een festivalvergunning-aanvraag</li>
<li>Handhaving dient met meer gezag en meer basbewust plaats te vinden</li>
<li>Tot het moment dat een onafhankelijk wetenschappelijk onderzoek een gefundeerde gevelnorm geeft, verzoeken wij een gevelnorm aan te houden van niet meer dan 80 dB(c) voor oudere woningen en 85 dB(c) voor nieuwere woningen.</li>
</ul>

<h4>Achtergrond</h4>

<div>In de afgelopen jaren is er binnen de dance scene een trend gaande, waarbij bastonen een steeds belangrijke rol zijn gaan spelen: muziek gaat niet alleen meer om geluid, maar vooral om trillingen, ‘zonder bas is het geen feest’. Gewoon geluid wordt uitgedrukt in decibellen van het zogeheten A-spectrum dB(a). Alle regulering die er bestaat omtrent evenementengeluid is dan ook uitgedrukt in deze dB(a). Bastonen, de lage tonen die de gewenste trillingen veroorzaken, bevinden zich echter in een ander spectrum, namelijk het C-spectrum. De geluidsintensiteit in dit spectrum wordt uitgedrukt in dB(c).</div> 

<div>Het lastige met bastonen is dat ze zich veel verder kunnen voortplanten dan gewoon geluid; afhankelijk van de meteorologische omstandigheden kunnen deze lage tonen op grote afstand waargenomen worden. Denk bijvoorbeeld aan het grondgeluid van Schiphol dat afhankelijk van de windrichting soms duidelijk in Amsterdam waarneembaar is. Bastonen dringen ook gemakkelijker door gevels van gebouwen heen.</div> 

<div>Zo gaat het ook met bastonen van festivals: deze zijn soms in de wijde omtrek duidelijk te horen en veroorzaken daarmee veel overlast. Maar zoals vaker gebeurt, gaan de technische ontwikkelingen sneller dan de wetgeving; er zijn dus nog geen goede normen gedefinieerd voor bastonen. Welk niveau van dB(c) vormt nog aanvaardbare overlast? Hierover is geen duidelijkheid. Het aantal mensen dat last heeft van bastonen en dit bij de gemeente meldt, neemt wel toe.</div> 

<div>Daarnaast werken vergunningverleners, handhavers en akoestische adviseurs met oude onderzoeksmethoden en oude meetapparatuur. Zowel meetmethoden als apparatuur zijn niet goed geschikt voor het meten van de dB(c) belasting. Bij het meten speelt nu omgevingsgeluid zoals tijdelijke ruis van wind of verkeer een storende rol, waardoor het niet duidelijk is of de muziek bijvoorbeeld een nieuwe climaxhoogte bereikt.</div> 

<div>Het ontbreken van duidelijke normen voor de belasting in dB(c) en het ontbreken van betrouwbare meetmethoden en instrumenten zorgt voor veel onduidelijkheid, maar ook voor overlast voor omwonenden. Festivals willen de bastonen steeds verder intensiveren, handhavers en vergunningverleners weten niet hoe en waar te meten en wat precies wat acceptabel is.</div> 

<div>Lager Toontje ziet al deze praktische bezwaren als een probleem van de festivalorganisaties en niet, zoals in de laatste 20 jaar, als het probleem van de omwonenden.</div> 

<div>Tot het moment dat de evenementensector zelf met goede oplossingen is gekomen, wil Lager Toontje middels dit volksinitiatief borgen dat de inwoners van Amsterdam via duidelijke geluidsnormen beschermd worden tegen onduldbare overlast van bastonen, zonder evenementen onmogelijk te maken.</div> 

			</div><!-- /.tl-main -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
