---
title: petitie
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Volksinitiatief (Petitie)</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Volksinitiatief (Petitie)</h1>
	        <p class="lead tl-description">Amsterdam kent het volksinitiatief als inspraakinstrument. Burgers kunnen een voorstel indienen bij de gemeenteraad als zij 1200 handtekeningen verzamelen.</p>

	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
	        	De drempel van 1200 handtekeningen is op 22 juni gehaald, er zijn ruim voldoende handtekeningen voor een geldig volksinitiatief.<br>
	        	Volgens de verordeningen wordt het initiatief binnen 3 maanden door onze gemeenteraad besproken. Het advies van een onafhankelijke commissie die moet kijken of ons initiatief wel aan alle regeltjes voldoet was al gereed op 6 juli, men heeft alleen vergeten om ons, de initiatiefnemers, van dat advies op de hoogte te stellen. Dit is het advies: <a href="./docs/AdviesReferendumcommissieBasbewustBeleid.pdf" target="_blank">Advies Referendumcommissie</a>. Men heeft manieren gevonden de tekst zo te interpreteren dat het initiatief niet voldoet aan de regeltjes. Men heeft 4 maanden voor ons verborgen gehouden dat ons voorstel helemaal niet in de raad besproken gaat worden. "Uitstel..." is ons steeds verteld.

	        	Op 24 november schreven wij de raad deze brief, waarin wij haar vragen het volksinitiatief wel serieus te nemen, en het advies van de referendumcommissie niet.  <a href="./docs/BriefRaadnavAdviesVolksinitiatief.pdf" target="_blank">Brief aan de raad over Advies.</a>. <br>
	        	<br>
	        	Wij wachten met spanning af wat de raadsleden met ons verzoek gaan doen.  U kunt nog ondertekenen. {{> signbutton }} 
	        	
	        	<hr>
<!-- 	        	Op 1 juni 2016 is LagerToontje op gesprek geweest bij de fracties D66 VVD SP, en PVDA. <br>
	        	Het <a href="./docs/160428_initiatiefvoorstel_duurzame_festivals.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">initiatiefvoorstel</a>
 				van de coalitie neemt stappen in de goede richting, maar repareert niet de zware basverhouding die de festivalbranche inmiddels is gewend. Lager Toontje gaat zich inzetten voor onafhankelijk onderzoek, en opleggen van wetenschappelijk onderbouwde basnormen in plaats van onderhandelen met de festivalbranche. 
 	        	<hr>
-->	        	
			</div><!-- /.tl-main -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
