---
title: petitie
---

<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Volksinitiatief (Petitie)</title>

    {{> head}}
</head>

  <body class="tl-body">
    {{> menu this}}


	<section class="container">

	    <div class="tl-header">
	        <h1 class="tl-title">Volksinitiatief (Petitie)</h1>
	        <p class="lead tl-description">Amsterdam kent het volksinitiatief als inspraakinstrument. Burgers kunnen een voorstel indienen bij de gemeenteraad als zij 1200 handtekeningen verzamelen.</p>

	    </div>

	    <div class="row">

	        <div class="col-sm-12 tl-main">
	        	De benodigde 1200 handtekeningen zijn inmiddels ruim binnen, ons voorstel wordt voorbereid voor bespreking in de raad.<br>
			    <p>{{> signbutton }}</p>
	        	<hr>
<!-- 	        	Op 1 juni 2016 is LagerToontje op gesprek geweest bij de fracties D66 VVD SP, en PVDA. <br>
	        	Het <a href="./docs/160428_initiatiefvoorstel_duurzame_festivals.pdf" target="_blank" onclick="ga('send', 'event', 'download', this.href);">initiatiefvoorstel</a>
 				van de coalitie neemt stappen in de goede richting, maar repareert niet de zware basverhouding die de festivalbranche inmiddels is gewend. Lager Toontje gaat zich inzetten voor onafhankelijk onderzoek, en opleggen van wetenschappelijk onderbouwde basnormen in plaats van onderhandelen met de festivalbranche. 
 	        	<hr>
-->	        	
			</div><!-- /.tl-main -->

	    </div> <!-- class="row" -->


	</section>

{{> footer}}

</body></html>
